aside.left-menu-aside
    <!-- active classı eklenirse açık halindeki style görünür mobilede -->
    a.left-menu-mobile-toggle(href="#", data-toggle="my-account-menu") Jame's Account
        i.icon.icon-arrow-down-2
    ul(data-open="my-account-menu")
        li
            a.active(href=urlPrefix + "my-account.html") MY ACCOUNT
        li
            a(href=urlPrefix + "my-account_profile.html") PROFILE
        li
            a(href=urlPrefix + "my-account_nine-loves-rewards.html") NINE LOVES REWARDS
        li
            a(href=urlPrefix + "my-account_orders.html") ORDERS
        li
            a(href=urlPrefix + "my-account_wishlist.html") WISHLIST
        li
            a(href=urlPrefix + "my-account_address-book.html") ADDRESS BOOK
        li
            a(href=urlPrefix + "my-account_wallet.html") WALLET