.product-item
    .product-item-image
        a(href=urlPrefix + "product-detail.html")
            span.special-badge
                img(src=prefix + "img/pre-sale-badge.gif")
                img(src=prefix + "img/trending-now-badge.jpg")
            img(src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507302286174/products/PG.NWINGRAMM.JJ4VDA5.RZ.jpg?sw=554&sh=554")
            <!-- angular ile hover eventinde aşağıdaki image gösterilebilir. -->
            img.hover.hidden(src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507302286174/products/PG.NWINGRAMM.JJ4VDA5.PZ.jpg?sw=554&sh=554")

    ul.product-item-color-chips
        li.active
            img(src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507302286174/products/PG.NWCHARLES.JJIC9A0.CP.jpg?sw=22&sh=22")
        li
            img(src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507302286174/products/PG.NWCHARLES.JJ0AFSU.CP.jpg?sw=22&sh=22")
        li.more
            a(href="product-detail.html") +

    .product-rate
        span.rate-1
        span.rate-1-5.hidden
        span.rate-2.hidden
        span.rate-2-5.hidden
        span.rate-3.hidden
        span.rate-3-5.hidden
        span.rate-4.hidden
        span.rate-4-5.hidden
        span.rate-5.hidden

    h2.product-item-product-name
        a(href=urlPrefix + "product-detail.html") Louiza Ankle Strap Pumps

    .product-item-price
        span.old-price $89.00
        span.new-price $89.00
        span.new-price.shocked $89.00

    .product-item-promo-text Extra 30% Off - Limited Time!