li
    .product-item.recommendation
        .product-item-image
            a(href=urlPrefix + "product-detail.html")
                img(src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507302286174/products/PG.NWINGRAMM.JJ4VDA5.RZ.jpg?sw=554&sh=554")
        .product-item-detail
            h2.product-item-product-name
                a(href=urlPrefix + "product-detail.html") Louiza Ankle Strap Pumps
            .product-item-price
                span.new-price $89.00
