.product-item.wishlist
    .product-item-image
        a(href=urlPrefix + "product-detail.html")
            span.special-badge
                i.icon.icon-close
            img(src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507302286174/products/PG.NWINGRAMM.JJ4VDA5.RZ.jpg?sw=554&sh=554")
    .product-item-detail
        h2.product-item-product-name
            a(href=urlPrefix + "product-detail.html") Louiza Ankle Strap Pumps
        .product-item-skus Natural Synthetic - 5.5, M
        .product-item-price
            span.new-price $89.00

    a.product-item-add-to-bag ADD TO BAG
