
@font-face {
  font-family: 'ProximaNovaA-Medium';
  src: url('ProximaNovaA-Medium.eot?#iefix') format('embedded-opentype'),  url('ProximaNovaA-Medium.woff') format('woff'), url('ProximaNovaA-Medium.ttf')  format('truetype'), url('ProximaNovaA-Medium.svg#ProximaNovaA-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
