@font-face {
  font-family: 'icomoon-nw';
  src:  url('fonts/icomoon-nw.eot?kkr7iv');
  src:  url('fonts/icomoon-nw.eot?kkr7iv#iefix') format('embedded-opentype'),
    url('fonts/icomoon-nw.ttf?kkr7iv') format('truetype'),
    url('fonts/icomoon-nw.woff?kkr7iv') format('woff'),
    url('fonts/icomoon-nw.svg?kkr7iv#icomoon-nw') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-nw' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark-es:before {
  content: "\e90c";
}
.icon-lock:before {
  content: "\f023";
}
.icon-error:before {
  content: "\e908";
}
.icon-small-x:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\f08a";
}
.icon-checkmark:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e903";
}
.icon-arrow_down:before {
  content: "\e904";
}
.icon-arrow_up:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e902";
}
.icon-plus:before {
  content: "\e901";
}
.icon-right_arrow:before {
  content: "\e905";
}
.icon-left_arrow:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e90b";
}

