/*Footer css*/
footer {
	@include centerfix;
	border-top: 1px solid #cccccc;
	//transition: all $animation_speed $animation_easing;

	@include breakpoint($phablet) {
		border-top: none;
		padding-bottom: 40px;
	}

	.footer-container {
		position: relative;
		width: 1000px;
		margin: 0 auto;

		@include breakpoint($tablet) {
			padding: 0 2%;
			width: 100%;
		}
	}
	/*Footer social*/
	.footer-social-list {
		@include centerfix;
		text-align: center;
		margin: 15px 0;

		li {
			display: inline-block;
			margin-right: 13px;

			&:last-child {
				margin-right: 0;
			}

			a {
				display: block;
				height: 54px;
				background: url("../img/footer-sprite.png") no-repeat;
				background-size: 320px;
				text-indent: -99999px;

				&.fb {
					width: 13px;
					background-position: -62px 0;
				}

				&.in {
					width: 27px;
					background-position: -88px 0;
				}

				&.pi {
					width: 27px;
					background-position: -128px 0;
				}

				&.yt {
					width: 26px;
					background-position: -166px 0;
				}

				&.tw {
					width: 27px;
					background-position: -204px 0;
				}

				&.gp {
					width: 29px;
					background-position: -238px 0;
				}
			}
		}
	}

	/*footer newsletter*/
	.footer-newsletter {
		position: relative;
		width: 350px;
		height: 41px;
		padding-right: 36px;
		border: solid 1px #a4a4a4;
		margin: 0 auto;

		@include breakpoint($tablet) {
			width: 100%;
		}

		input[type="text"] {
			border: none;
			outline: none;
			width: 100%;
			height: 39px;
			padding: 10px 11px;
			color: #757575;
			font-size: 14px;

			@include breakpoint($tablet) {
				font-size: 9pt;
			}
		}

		[type="submit"] {
			position: absolute;
			right: 0;
			top: 0;
			height: 39px;
			padding: 10px 11px;
			background-color: transparent;
			border: none;

			&::before {
				content: "";
				background: url("../img/footer-sprite.png") left top no-repeat;
				width: 14px;
				height: 19px;
				display: inline-block;
			}
		}
	}

	/*footer nav*/
	.footer-nav {
		@include centerfix;
		margin-top: 30px;

		&--mobile {
			display: none;

			.footer-nav-list {
				width: 50%;
				padding: 0;

				&:last-child {
					text-align: right;
				}

				&__title {
					h3 {
						font-family: Arial,Helvetica,sans-serif;
						color: $black;
						font-weight: 700;
						font-size: 13px;
					}
				}

				li {
					a {
						font-family: Arial,Helvetica,sans-serif;
						color: $black;
						font-size: 9pt;
						padding-top: 4px;
					}
				}
			}

			@include breakpoint($tablet) {
				display: block;
			}
		}

		&--desktop {
			display: block;

			.footer-nav-list {
				&__title {
					h3 {
						color: #333333;
						font-size: 10px;
						margin-bottom: 2px;
					}
				}

				li {
					a {
						display: block;
						color: #666766;
						font-size: 10px;
					}
				}
			}

			@include breakpoint($tablet) {
				display: none;
			}
		}

		&-list {
			float: left;
			width: 25%;
			padding: 0 20px 0 10px;

			li {
				display: block;

				a {
					line-height: 1.4em;
				}
			}
		}
	}

	/*footer copyright*/
	.footer-copyright {
		@include centerfix;
		color: #666666;
		font-size: 10px;
		margin-top: 30px;
		text-align: center;

		@include breakpoint($tablet) {
			color: $black;
			font-size: 10pt;
		}
	}

	/*footer seo menu*/
	.footer-seo-menu {
		@include centerfix;
		text-align: center;
		padding: 15px 0;

		@include breakpoint($tablet) {
			display: none;
		}

		a {
			display: inline-block;
			font-size: 10px;
			color: #999999;
			font-weight: 500;
			margin-right: 8px;

			&:hover {
				color: #666666;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}