/*Header css*/
.header-top-campaign {
	position: relative;
	display: block;
	background-color: #3C4B7A;
	width: 100%;
	height: 42px;
	text-align: center;
	padding: 12px 0;
	font-family: $proximanovaA_light;

	@include breakpoint($tablet) {
		position: absolute;
		top: 54px;
		left: 0;
		height: auto;
		padding: 1.5% 0 1.5% 0;
		z-index: 4;
	}

	&__campaign-link {
		font-size: 16px;
		color: $white;
		letter-spacing: .2px;

		@include breakpoint($tablet) {
			font-size: 14px;
		}
	}

	&__detail-link {
		position: absolute;
		right: 20px;
		bottom: 5px;
		font-size: 10px;
		color: $white;
		font-family: $proximanovaA_medium;

		@include breakpoint($tablet) {
			display: none;
		}
	}
}

.header-campaign-modal {
	@include center(true, true);
	max-width: 500px;
	width: 100%;
	border: 6px solid #cccccc;
	background-color: $white;
	padding: 22px 5px 5px;
	text-align: center;
	display: none;
	z-index: 999;

	&.active {
		display: block;
	}

	&__close-btn {
		position: absolute;
		right: 10px;
		top: 5px;
		font-weight: 700;
		font-size: 11px;
		color: #666666;
	}

	&__content {
		padding: 10px;
	}

	p {
		display: block;
		color: #666666;
		font-size: 10pt;
	}
}

header {
	@include centerfix;
	height: 141px;
	border-top: 31px solid $black;
	background-color: $white;
	z-index: 5;
	border-bottom: 1px solid #cccccc;

	.header-wrapper {
		@include centerfix;
		height: 100%;
	}

	@include minBreakpoint($phablet) {
		&.fixed {
			.header-wrapper {
				position: fixed;
				height: 42px;
				top: 0;
				background: $white;
				border-bottom: 1px solid #cccccc;
			}

			.header-container {

				.header-logo {
					display: none;
				}
				.header-nav {
					top: 14px;
				}
			}
		}
	}

	@include breakpoint($tablet) {
		border-top: none;
		height: 54px;
		position: fixed;
		top: 0;
		left: 0;

		&.checkout-header {
			position: absolute;
			height: 83px;

			.header-container {
				height: 54px;
			}

			.mobile-search {
				display: none !important;
			}
		}
	}

	.header-container {
		position: relative;
		margin: 0 auto;
		width: 1346px;
		height: 100%;

		@include breakpoint(1366px) {
			width: 100%;
		}
	}
}

/*siyah banner signup text*/
.header-signup-msg-box {
	position: absolute;
	left: 10px;
	top: -31px;
	z-index: 4;

	@include breakpoint($tablet) {
		display: none;
	}

	a {
		line-height: 31px;
		font-size: 12px;
		font-weight: 500;
		color: $white;
		text-transform: uppercase;

		span {
			display: inline-block;
			margin-right: 10px;

			&.underline {
				text-decoration: underline;
				font-size: 10px;
				letter-spacing: .7px;
			}
		}
	}
}

/*Sepetim vs.*/
.header-util-menu {
	position: absolute;
	right: 10px;
	top: -31px;
	z-index: 4;

	@include breakpoint($tablet) {
		top: 0;
		right: 0;
	}

	> li {
		position: relative;
		float: left;
		margin-left: 25px;

		@include breakpoint($tablet) {
			margin-left: 0;
		}

		a.my-account {
			position: relative;
			display: block;
			font-weight: 400;
			font-size: 14px;
			color: $white;
			line-height: 31px;
		}

		&.account-li:hover {
			> ul {
				display: block;
			}
		}

		.icon-basket {
			display: inline-block;
			width: 22px;
			height: 24px;
			background: url('../img/header/icon-basket.png') -15px -12px no-repeat;
			line-height: 21px;
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			color: $black;
			padding-top: 4px;

			@include breakpoint($tablet) {
				width: 43px;
				height: 53px;
				background-size: 25px;
				background-position: center -9px;
				color: $white;
				padding-top: 17px;
			}
		}

		.icon-search-2 {
			display: block;
			width: 43px;
			height: 53px;
			text-align: center;
			padding-top: 17px;
		}

		.header-language {
			display: block;
			width: 45px;
			padding-top: 8px;

			img {
				float: left;
			}

			i {
				margin: 3px 7px 0;
			}
		}

		&.mobile-search {
			display: none;

			@include breakpoint($tablet) {
				display: block;
			}

			.mobile-search-box {
				position: fixed;
				top: 54px;
				right: 0;
				width: 100%;
				background-color: $white;
				padding: 9px 2%;
				display: none;

				.search-input {
					float: left;
					border: 1px solid #dddddd;
					padding: 9px 0 6px 5px;
					width: 90%;
					line-height: 25px;
					font-size: 10pt;
					font-family: Arial, Helvetica, sans-serif;
				}

				.close-button {
					float: right;
					width: 30px;
					background: none;
					font-size: 18px;
					line-height: 42px;
					border: none;
					color: $black;

					i::after {
						display: none;
					}
				}
			}
		}
	}

	&__sub-menu {
		display: none;
		position: absolute;
		right: 0;
		top: 30px;
		width: 170px;
		background-color: $white;
		border: 1px solid #999999;
		padding: 20px 15px 0;

		&.login-user-menu {
			width: 252px;
		}

		&:hover {
			display: block;
		}

		li {
			display: block;
			margin-bottom: 20px;

			&.sign-out {
				text-align: right;
			}

			a {
				display: block;
				font-weight: 400;
				font-size: 14px;
				color: $black;
			}
		}
	}
}

/*logo*/
.header-logo {
	position: absolute;
	left: 10px;
	top: 19px;

	@include breakpoint($tablet) {
		@include center(true, true);
		img {
			width: 132px;
		}
	}
}

/*navigation*/
.mobile-menu-overlay {
	display: none;

	@include breakpoint($tablet) {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 3;

		&.active {
			display: block;
		}
	}

}
.header-nav {
	position: absolute;
	left: 10px;
	top: 76px;

	@include breakpoint($tablet) {
		position: fixed;
		top: 54px;
		left: -281px;
		background-color: $white;
		z-index: 99999;
		width: 280px;
		height: 100%;
		border-right: 1px solid #d9d9d9;
		overflow-x: hidden;
		overflow-y: auto;
		transition: left $animation_easing $animation_speed;

		&.active {
			left: 0;
		}
	}

	> ul {
		display: block;

		> li {
			position: relative;
			float: left;
			margin-right: 16px;

			@include breakpoint($tablet) {
				width: 100%;
				min-height: 45px;
				overflow: hidden;
				border-top: 1px solid #d9d9d9;
				padding-right: 45px;

				&:first-child {
					border-top: none;
				}

				.mobile-menu-arrow {
					position: absolute;
					right: 0;
					top: 0;
					background-image: url('../img/icon-down_arrow.svg');
					background-repeat: no-repeat;
					background-position: center center;
					width: 45px;
					height: 45px;
					cursor: pointer;
					border-left: 1px solid #d9d9d9;
					padding: 10.5px 0;
				}

				&.active {
					.mobile-menu-arrow {
						background-image: url('../img/icon-close.svg');
					}
					> a {
						border-bottom: 1px solid #d9d9d9;
					}
				}
			}

			@include minBreakpoint($tablet) {
				&:hover {
					.header-nav__sub-menu {
						display: block !important;
					}
				}
			}

			> a {
				display: block;
				font-family: $proximanovaA_regular;
				font-size: 14px;
				color: $black;
				line-height: 16px;

				@include breakpoint($tablet) {
					font-size: 13px;
					line-height: 45px;
					letter-spacing: 1px;
					color: $black;
					padding-left: 19px;
					font-family: $proximanova_regular;
				}
			}
		}
	}

	&__bottom-link {
		float: left;
		width: 100%;
		background-color: #efefef;
		padding-bottom: 100px;

		a {
			float: left;
			margin: 14px 0;
			width: 205px;
			text-indent: 19px;
			font-weight: 500;
			font-size: 13px;
			letter-spacing: 1px;
			line-height: 20px;
			color: #333333;
		}
	}

	&__sub-menu {
		position: absolute;
		left: -20px;
		top: 15px;
		background-color: $white;
		border-bottom: 1px solid #ebebeb;
		border-left: 1px solid #ebebeb;
		border-right: 1px solid #ebebeb;
		border-top: 9px solid #ffffff;
		display: none;
		padding: 11px 20px 20px;
		width: 522px;
		z-index: 999;

		@include breakpoint($tablet) {
			position: relative;
			float: left;
			border: none;
			width: 100%;
			top: 0;
			left: 0;
			padding: 0 20px 0;

			&.active {
				display: block;
			}
		}

		ul {
			float: left;
			width: 126px;

			@include breakpoint($tablet) {
				width: 100%;
			}

			li {
				float: left;
				width: 100%;
				margin-bottom: 10px;

				@include breakpoint($tablet) {
					padding: 11.5px 0;
					margin: 0 13% 0 8%;
				}

				a {
					float: left;
					font-size: 11px;
					line-height: 12pt;
					color: #999999;
					font-family: $proximanovaA_regular;

					@include breakpoint($tablet) {
						font-size: 13px;
						line-height: 20px;
						font-family: $proximanova_regular;
						color: $black;
						letter-spacing: 1px;
					}

					&:hover {
						color: $black;
						font-style: italic;
					}
				}
			}
		}

		img {
			float: right;
			width: 280px;

			@include breakpoint($tablet) {
				display: none;
			}
		}
	}
}

/*search box*/
.search-box {
	position: absolute;
	right: 10px;
	bottom: 13px;
	z-index: 3;

	@include breakpoint($tablet) {
		display: none;
	}

	input[type="text"] {
		float: left;
		outline: none;
		border-color: transparent transparent $black;
		font-size: 11px;
		font-weight: 400;
		width: 160px;
		height: 19px;

		&:focus {
			color: $black;
			font-size: 13px;
		}
	}

	button {
		float: left;
		margin-left: 2px;
		padding: 0;
		background: transparent;
		border: none;
	}
}

/*mobile menu hamburger*/
.mobile-menu-toggle {
	display: none;

	@include breakpoint($tablet) {
		display: block;
		float: left;
		width: 55px;
		height: 53px;
		position: relative;
		background: url('../img/header/icon-mobile-menu.png') center center no-repeat transparent;
		border: none;
		outline: none;

		&.active {
			background-image: url('../img/header/icon-mobile-menu-opened.svg');
		}
	}
}

/*CHECKOUT  title*/
.header-logo-sub-title {
	position: absolute;
	left: 10px;
	top: 76px;
	font-size: 14pt;
	color: $black;
	font-weight: bold;

	@include breakpoint($tablet) {
		right: 10px;
		letter-spacing: 1px;
		text-align: center;
		top: 54px;
		font-size: 15px;
		font-family: $proximanovaA_regular;
	}
}

/*callcenter */
.header-callcenter {
	position: absolute;
	right: 10px;
	bottom: 13px;
	z-index: 3;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 5px;

	@include breakpoint($tablet) {
		display: none;
	}
}