extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	h1 Anasayfa content

block scripts
	script.
		console.log('custom js')