extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.basket-wrapper
        .container-1024
            .basket-container
                h1.page-title MY BAG (<b>1</b>) <b>$130.74</b>
                .top-checkout-link
                    a.paypal(href="#")
                        img(src=prefix + "img/paypal-icon.png")

                    a.button.button--link.button--black-17(href=urlPrefix + "checkout.html")
                        i.icon.icon-lock
                        | CHECKOUT

                .basket-product-list
                    ul.basket-product-list-fields
                        li PRODUCT DESCRIPTION
                        li PRICE
                    -for(var i = 0; i<2; i++)
                        .basket-product-list-item
                            .basket-product-list-item-image
                                a(href="#")
                                    img(src="https://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507349859880/products/PG.NWKERIANNA.JJ7ACA1.PZ.jpg?sw=170&sh=158")

                            .basket-product-list-item-description
                                .desktop-wrap
                                    h3.product-name
                                        a(href="#") Kerianna Over-the-Knee Boots
                                    p color:
                                        strong Red
                                    p size:
                                        strong 5 M.

                                    p.promotion-text $50 off in cart!

                                .mobile-wrap
                                    h3.product-name
                                        a(href="#") Kerianna Over-the-Knee Boots
                                    p
                                        strong Black Suede | 5.5 M
                                    p Item #:
                                        strong Black Suede | 5.5 M
                                    p
                                        strong IN STOCK
                                    p.promotion-text $50 off in cart!

                            .basket-product-list-item-action
                                a(href="#")
                                    i.icon.icon-small-x
                                    span remove
                                a(href="#")
                                    i.icon.icon-edit
                                    span edit

                            .basket-product-list-item-price
                                span.product-price $50.00
                                span.discount-price
                                    i $50 off in cart! (50OFFBOOTS)
                                    | -$50.00
                                span.product-price $50.00

                .basket-bottom-left-wrapper
                    .promotional-wrapper
                        <!-- MOBILE TOGGLE CONTENT BUTTON -->
                        .promo-code-block
                            h3.title PROMOTIONAL CODE

                            form.form.promotional-form
                                .wide-field.form__input-group-2
                                    input.input.input--primary(type="text", name="promo-code", id="promo-code")
                                    label(for="promo-code") PROMO CODE
                                .small-field.form__input-group-2
                                    input.button.button--gray(type="submit", value="APPLY")

                        .tab
                            ul.tabs
                                li
                                    a.active(href="#rewards") REWARDS PASS
                                li
                                    a(href="#gift-cards") GIFT CARDS

                            .tab-content
                                .content.rewards-pass#rewards.active
                                    form.form.promotional-form
                                        .wide-field.form__input-group-2
                                            input.input.input--primary(type="text", name="rewards-pass-number", id="rewards-pass-number")
                                            label(for="rewards-pass-number") REWARDS PASS NUMBER

                                        .small-field.form__input-group-2
                                            input.button.button--gray(type="submit", value="APPLY")

                                .content.gift-cards#gift-cards
                                    form.form.promotional-form
                                        .wide-field.form__input-group-2
                                            input.input.input--primary(type="text", name="gift-card-number", id="gift-card-number")
                                            label(for="gift-card-number") GIFT CARD NUMBER

                                        .small-field.form__input-group-2
                                            input.input.input--primary(type="text", name="pin", id="pin")
                                            label(for="pin") PIN

                                        .small-field.promotional-form-field
                                            input.button.button--gray.button--shadow(type="submit", value="APPLY")
                    .call-center-block.hide-mobile
                        span.title NEED HELP WITH CHECKOUT?
                        a(href="#") CHAT WITH A SPECIALIST LIVE
                        p.phone-number CALL US: 1-800-999-1877

                .basket-bottom-right-wrapper
                    .shipping-action
                        .custom-select-2
                            .field(data-toggle="shipping-dropdown") SHIPPING:
                                span 3 - 5 business days - $7.00

                            .dropdown(data-open="shipping-dropdown")
                                ul
                                    li
                                        a(href="#") 5 - 7 business days - Free
                                    li
                                        a(href="#") 3 - 5 business days - $7.00
                                    li
                                        a(href="#") 2 business days - $15.00
                                    li
                                        a(href="#") Next business day - $30.00

                    .order-summary-content
                        .order-summary-item.discount
                            .field $50 off in cart! (50OFFBOOTS)
                            .price $10.00
                        .order-summary-item.discount
                            .field $40 off in cart! (40OFFBOOTIES)
                            .price $10.00
                        .order-summary-item
                            .field
                                b My Bag Subtotal
                            .price $10.00
                        .order-summary-item
                            .field.gray-field
                                a.underline(href="#") Shipping:
                                | (3 - 5 business days)
                            .price $10.00
                        .order-summary-item
                            .field
                                a.underline(href="#", data-toggle="tax") Tax
                            .price -.--
                        .order-summary-item
                            .field
                                b ESTIMATED TOTAL
                            .price $10.00

                    .centerfix
                        a.button.button--link.button--black-17(href=urlPrefix + "checkout.html")
                            i.icon.icon-lock
                            | CHECKOUT

                    .payment-types
                        .paypal
                            img(src=prefix + "img/paypal-icon.png")
                            span Check out
                        .centerfix
                            img(src=prefix + "img/accepted-payments.png")
                        .centerfix
                            p ACCEPTED PAYMENTS

                    .call-center-block.hide-desktop
                        span.title NEED HELP WITH CHECKOUT?
                        .call-us
                            span TAP TO CALL:
                            a(href="#") 1-800-999-1877
                .centerfix
                    .recommendation-wrapper
                        h4.recommendation-wrapper-title YOU MAY ALSO LIKE

                        .reco-product-list.flexslider.flex-direction.mobile-slider
                            ul.slides
                                -for(var i = 0; i < 4; i++)
                                    include partials/recommendationProductItem


block scripts
    <!-- cvv banner -->
    .modal.wide-modal-box.no-size(data-open="tax")
        .modal-overlay
        .content
            a.btn-close(href="#", data-toggle="tax")

            p Taxes will be calculated once your shipping information is entered in checkout.