extends layout/layout

block head
    - var isCheckout = true;
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.checkout-wrapper
        .container-1024
            .checkout-container
                .checkout-left-wrapper
                    .checkout-steps-wrapper
                        .checkout-steps-tab
                            h3 1. SHIPPING
                            <!-- BURADAKİ GİZLİ BÖLÜM ÖDEME SAYFASINA GEÇİNCE GÖSTERİLEN KISIMDIR. -->
                            .hidden
                                a.edit-button(href="#") EDIT
                                    i.icon.icon-pencil

                                .checkout-step-detail
                                    .checkout-step-detail-block
                                        h4 Shipping Address
                                        p EMRE KARAMAN
                                        p EFNS OFOSDI FIOSHF OISHDOIF
                                        p IS FOSHDFOHSDOI FOISDOFOSDF OS
                                        p MIAMI, AZ. 43434
                                        p 555-555-5555
                                    .checkout-step-detail-block
                                        h4 Shipping Method
                                        p Next business day - $30.00


                        .checkout-steps-content
                            h3.title.title--primary.title--space SELECT YOUR SHIPPING ADDRESS

                            .global-address-list.add-space
                                - for(var i = 0; i<2; i++)
                                    .address-box
                                        .title-wrapper MY ADDRESS
                                            a(href="#")
                                                i.icon.icon-small-x
                                        .content-wrapper
                                            p FHSO HFSDHFOISDF SDOIFHIO
                                            p 55555555555
                                        .address-footer
                                            label.checkbox-label-gray
                                                .checkbox
                                                    input(type="checkbox")
                                                    label
                                                span DEFAULT

                                            a.address-box-edit(href="#") EDIT
                                                i.icon.icon-edit
                            .centerfix
                                .row
                                    .col-xs-12.col-sm-4.col-md-4.mobile-center
                                        a.button.button--gray.button--link.button--no-width(data-toggle="addAddress") ADD ADDRESS
                                            i.icon.icon-plus


                            h3.centerfix.title.title--primary.title--space SHIPPING METHOD
                            .centerfix
                                .row
                                    .col-xs-12.col-sm-8.col-md-8.margin-bottom-25
                                        .select
                                            select
                                                - for(var a = 0; a<=4; a++)
                                                    option(value="#{a}") 5-7 BUSINESS DAYS - FREE

                                    .col-xs-12.col-sm-8.col-md-8.margin-bottom-25
                                        .checkbox-label
                                            label.checkbox-label-gray
                                                .checkbox
                                                    input(type="checkbox")
                                                    label
                                                span CHECK BOX TO INCLUDE GIFT MESSAGE

                                    .col-xs-12.col-sm-8.col-md-8
                                        textarea.input.input--primary.input--textarea(placeholder="Your gift message")
                                        label.label.label--primary 240 characters remaining

                                    .col-xs-12.col-sm-8.col-md-8.margin-bottom-25
                                        a.button.button--black.button--link(href="#") CONTINUE TO BILLING


                        .checkout-steps-tab
                            h3 2. BILLING
                        .checkout-steps-content
                            <!-- MOBILEDE AŞAĞIDAKİ ALANI GİZLEYİP GÖSTERİRKEN AŞAĞIDAKİ LİNKE "OPENED" CLASSI TOGGLE EDİLMELİ -->
                            a.mobile-toggle-block-button.payment-promotional-toggle(href="#")
                                span <b>APPLY</b> REWARDS PASSES <small>OR</small> GIFT CARDS
                                i.icon-toggle

                            .tab.margin-bottom-25
                                ul.tabs
                                    li
                                        a.active(href="#rewards") REWARDS PASS
                                    li
                                        a(href="#gift-cards") GIFT CARDS

                                .tab-content
                                    .content.rewards-pass#rewards.active
                                        form.form.promotional-form
                                            .wide-field.form__input-group-2
                                                input.input.input--primary(type="text", name="rewards-pass-number", id="rewards-pass-number")
                                                label(for="rewards-pass-number") REWARDS PASS NUMBER

                                            .small-field.form__input-group-2
                                                input.button.button--gray(type="submit", value="APPLY")

                                    .content.gift-cards#gift-cards
                                        form.form.promotional-form
                                            .wide-field.form__input-group-2
                                                input.input.input--primary(type="text", name="gift-card-number", id="gift-card-number")
                                                label(for="gift-card-number") GIFT CARD NUMBER

                                            .small-field.form__input-group-2
                                                input.input.input--primary(type="text", name="pin", id="pin")
                                                label(for="pin") PIN

                                            .small-field.promotional-form-field
                                                input.button.button--gray.button--shadow(type="submit", value="APPLY")



                            h3.centerfix.title.title--primary.title--space CHOOSE YOUR PAYMENT TYPE
                            .tab.tab--type2.margin-bottom-25.clear-top
                                ul.tabs
                                    li
                                        a.active(href="#credit-card") CREDIT CARD
                                    li
                                        a(href="#paypal") PAYPAL

                                .tab-content
                                    .content.cc-panel#credit-card.active
                                        .centerfix.cc-logo-list
                                            img(src=prefix + "img/logo-mastercard.jpg")
                                            img(src=prefix + "img/logo-visa.jpg")
                                            img(src=prefix + "img/logo-discover.jpg")
                                            img(src=prefix + "img/logo-amex.png")

                                        form.form.payment-form
                                            .payment-form-wide.form__input-group-2
                                                input.input.input--primary(type="text", name="rewards-pass-number", id="card-number")
                                                label(for="card-number") CREDIT CARD NUMBER

                                            .payment-form-cvv.form__input-group-2
                                                input.input.input--primary(type="text", name="rewards-pass-number", id="card-number")
                                                label(for="card-number") CVV*
                                                a.cvv-desc(href="#", data-toggle="cvv-alert")
                                                    img(src=prefix + "img/hint.png")

                                            .payment-form-month.form__input-group-2
                                                .select-2
                                                    select
                                                        option EXP. MONTH*
                                                        - for(var a = 1; a<=12; a++)
                                                            option(value="#{a}")= a

                                            .payment-form-year.form__input-group-2
                                                .select-2
                                                    select
                                                        option YEAR*
                                                        - for(var a = 2017; a<=2040; a++)
                                                            option(value="#{a}")= a

                                            .centerfix.margin-bottom-25
                                                .form__input-group
                                                    .checkbox-label
                                                        label.checkbox-label-gray
                                                            .checkbox
                                                                input(type="checkbox")
                                                                label
                                                            span Save this card
                                            .centerfix.margin-bottom-25
                                                .form__input-group
                                                    .checkbox-label
                                                        label.checkbox-label-gray
                                                            .checkbox
                                                                input(type="checkbox")
                                                                label
                                                            span USE MY SHIPPING ADDRESS FOR BILLING

                                        .payment-address-box
                                            p EMRE KARAMAN
                                            p EFNS OFOSDI FIOSHF OISHDOIF
                                            p IS FOSHDFOHSDOI FOISDOFOSDF OS
                                            p MIAMI, AZ. 43434

                                    <!-- PAYPAL TABINA GEÇİLİNCE BURASI AKTİF OLACAK -->
                                    .content.paypal-panel#paypal
                                        h4 PAYPAL
                                        p Selecting PayPal below will take you to the PayPal site to complete the payment information step. You will be returned to the final step on this site - Order Review - to place your order.
                                        a(href="#")
                                            img(src="https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif")


                            .col-xs-12.col-sm-8.col-md-8.margin-bottom-25
                                .row
                                    a.button.button--black.button--link(href="#") CONTINUE TO ORDER REVIEW


                        .checkout-steps-tab
                            h3 3. ORDER REVIEW
                        .checkout-steps-content
                            <!-- ORDER REVIEW TAB -->
                            .order-success-wrap
                                .title Success
                                p Lorem ipsum dolor sit amet...


                .checkout-right-wrapper
                    .checkout-order-summary
                        .checkout-order-summary-title ORDER SUMMARY
                        .checkout-order-summary-content
                            a.basket-edit EDIT BAG

                            .checkout-order-summary-content-product-list
                                -for(var i = 0; i<2; i++)
                                    .checkout-product-list-item
                                        .checkout-product-list-item-image
                                            a(href="#")
                                                img(src="https://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507349859880/products/PG.NWKERIANNA.JJ7ACA1.PZ.jpg?sw=170&sh=158")

                                        .checkout-product-list-item-description
                                            h3.product-name
                                                a(href="#") Kerianna Over-the-Knee Boots
                                            p color: Red
                                            p size: 5 M.

                                        .checkout-product-list-item-price
                                            span.product-price $50.00
                                            span.discount-price
                                                i $50 off in cart! (50OFFBOOTS)
                                                | -$50.00
                                            span.new-price $50.00

                            .order-summary-content
                                .order-summary-item.discount
                                    .field $50 off in cart! (50OFFBOOTS)
                                    .price $10.00
                                .order-summary-item.discount
                                    .field $40 off in cart! (40OFFBOOTIES)
                                    .price $10.00
                                .order-summary-item
                                    .field
                                        b My Bag Subtotal
                                    .price $10.00
                                .order-summary-item
                                    .field.gray-field
                                        a.underline(href="#") Shipping:
                                        | (3 - 5 business days)
                                    .price $10.00
                                .order-summary-item
                                    .field
                                        a.underline(href="#") Tax
                                    .price -.--
                                .order-summary-item.total-price
                                    .field
                                        b ORDER TOTAL
                                    .price $10.00


block scripts
    <!-- add address modal -->
    .modal.wide-modal-box.hidden(data-open="addAddress")
        .modal-overlay
        .content
            a.btn-close(href="#", data-toggle="addAddress")
            .centerfix.margin-bottom-25
                h3.title.title--primary.modal-title ADD ADDRESS

            form.form.form-row
                .form__input-group--half
                    input.error.input.input--primary(type="text", placeholder="FIRST NAME*")

                .form__input-group--half
                    input.input.input--primary(type="text", placeholder="LAST NAME*")

                .form__input-group
                    input.error.input.input--primary(type="text", placeholder="ADDRESS LINE 1")

                .form__input-group
                    input.input.input--primary(type="text", placeholder="ADDRESS LINE 2")

                .form__input-group--half
                    input.error.input.input--primary(type="text", placeholder="ZIP*")

                .form__input-group--half
                    input.input.input--primary(type="text", placeholder="CITY*")

                .form__input-group--half
                    .select
                        select
                            - for(var a = 0; a<=4; a++)
                                option(value="#{a}") MIAMI

                .form__input-group--half
                    input.input.input--primary(type="text", placeholder="PHONE*")

                .form__input-group
                    label.checkbox-label-gray
                        .checkbox
                            input(type="checkbox")
                            label
                        span MAKE DEFAULT ADDRESS

                .form__input-group--half
                    input.button.button--black.clear-margin(type="submit", value="SAVE ADDRESS")

                .form__input-group--half
                    input.button.button--white(type="submit", value="CANCEL")



    <!-- cvv banner -->
    .modal.wide-modal-box.no-size.hidden
        .modal-overlay
        .content
            a.btn-close(href="#", data-toggle="cvv-alert")

            img(src= prefix + "img/ccv_code2.png")



