extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container
        .container-1024
            .forgot-password-wrapper
                h1 FORGOT PASSWORD?
                p Enter your email associated with your account.
                form
                    input.input.input--primary(type="text", placeholder="EMAIL ADDRESS*")
                    .centerfix
                        button.button.button--block.button--black(type="submit") SUBMIT


