extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	<!-- AŞAĞIDAKİ ALANLARA CONTENT BASILACAK -->
	.col-xs-12(style="height: 200px; background: url(//c.zmags.com/assets/images/59e0dd576d2f384b5d18b9aa-optimized.jpeg) center center no-repeat;")
	.col-xs-12(style="height: 200px; background: url(//c.zmags.com/assets/images/59e0dd576d2f384b5d18b9aa-optimized.jpeg) center center no-repeat;")
	.col-xs-12(style="height: 200px; background: url(//c.zmags.com/assets/images/59e0dd576d2f384b5d18b9aa-optimized.jpeg) center center no-repeat;")

	.col-xs-12(style="height: 200px; background: url(//c.zmags.com/assets/images/59e0dd576d2f384b5d18b9aa-optimized.jpeg) top center no-repeat;")
		<!-- FADE SLIDE İÇİN AŞAĞIDAKİ YAPI KULLANILACAK -->
		.flexslider.fade-slide
			ul.slides
				li
					<!-- BURAYA SLIDE EDECEK GÖRSEL GELECEK -->

	.centerfix.homepage-standout
		.centerfix.text-center
			img(src=prefix + "img/homepage/curalate_collection_header.gif")
		.flexslider.flex-direction
			ul.slides
				- for(var i = 0; i < 10; i++)
					li
						a(href="#")
							img.img-responsive(src="//d28m5bx785ox17.cloudfront.net/v1/img/gtZ6aUWPglLnWSJaNxkVP9LMkpU9arh2jETHpnTIydQ=/sc/300x300")