extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container
        .container-1024
            .col-xs-12.col-sm-6
                .centerfix.account-form-box.login-wrapper
                    .account-form-box__title ACCOUNT SIGN IN
                    form.form
                        label.form-error There are issues with your form submission. Please review and submit again.
                        .form__input-group
                            label.form__input-group__field-name EMAIL ADDRESS*
                            input.error.input.input--primary(type="text", placeholder="Enter Your Email Address")
                            label.error First name is required.

                        .form__input-group
                            label.form__input-group__field-name PASSWORD*
                            .centerfix
                                input.input.input--primary(type="text", placeholder="Enter Your Password")
                                span.show-password SHOW

                        .centerfix
                            button.button.button--block.button--black(type="submit") SIGN IN

                    div.forgot-password Forgot password?
                        a(href="forgot-password.html") Click here

            .col-xs-12.col-sm-6
                .centerfix.account-form-box.signup-wrapper
                    .account-form-box__title CREATE ACCOUNT
                    form.form
                        .form__input-group
                            label.form__input-group__field-name FIRST NAME*
                            input.input.input--primary(type="text", placeholder="First Name")

                        .form__input-group
                            label.form__input-group__field-name LAST NAME*
                            input.input.input--primary(type="text", placeholder="Last Name")

                        .form__input-group
                            label.form__input-group__field-name EMAIL ADDRESS*
                            input.input.input--primary(type="text", placeholder="Enter Your Email Address")

                        .form__input-group
                            label.form__input-group__field-name PASSWORD*
                            .centerfix
                                input.input.input--primary(type="text", placeholder="At least 8 characters")
                                span.show-password SHOW

                        .form__input-group.privacy-policy
                            .checkbox
                                input(type="checkbox")
                                label
                            p Sign me up for exclusive Nine West discounts, sales, style tips and more. <a href="http://www.ninewest.com/on/demandware.store/Sites-ninewest-Site/default/Page-ShowByDate?cid=PRIVACY" tabindex="15">Privacy policy.</a>

                        button.button.button--block.button--black(type="submit") SIGN IN

                        p.sub-note By clicking Create Account you will be automatically enrolled in the 9WLOVES loyalty program and agreeing to the 9WLoves Terms and Conditions. You must be 18 years and older and reside in the U.S. or Puerto Rico to be elligible for the program. You may review the Terms and Conditions here.

