extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.my-account-order-wrapper
        .container-1024
            .my-account-container
                .centerfix.breadcrumb-wrapper
                    .breadcrumb
                        a(href="#") Home
                        a(href="#") My Account
                        a(href="#") Orders

                include partials/account-left-menu

                section.right-content
                    h1.title ORDERS

                    ul.order-list
                        -for(var i=0; i<5; i++)
                            li
                                .desc-wrapper
                                    .img-wrapper
                                        img(src="http://placehold.it/300x300")

                                    .description
                                        h3.product-name Boots
                                        .skus
                                            span Color:
                                            | Red <br>
                                            span Size:
                                            | 45 <br>

                                .date 22.10.2017

                                .status.success Completed