extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.my-account-wrapper
        .container-1024
            .my-account-container
                .centerfix.breadcrumb-wrapper
                    .breadcrumb
                        a(href="#") Home
                        a(href="#") My Account
                        a(href="#") Wishlist

                include partials/account-left-menu

                section.right-content
                    .my-account-wishlist-wrapper
                        h1.title WISHLIST

                        p You have no items in your wishlist.

                        a.start-shopping-link(href="#") START SHOPPING

                        a.button.button--black-17.button--link.button--no-width SHARE MY WISHLIST

                        .product-list
                            - for(var i = 0; i < 15; i++)
                                include partials/wishlistProductItem