extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.my-account-wrapper
        .container-1024
            .my-account-container
                .centerfix.breadcrumb-wrapper
                    .breadcrumb
                        a(href="#") Home
                        a(href="#") My Account
                        a(href="#") Address Book

                include partials/account-left-menu

                section.right-content
                    .my-account-address-wrapper
                        h1.title ADDRESS BOOK

                        .row
                            .col-xs-12.col-sm-4
                                a.button.button--black-17.button--link(href="#", data-toggle="addNewAddress") ADD ADDRESS

                        .address-list
                            - for(var i = 0; i<3; i++)
                                .address-box
                                    .title-wrapper MY ADDRESS
                                        a(href="#")
                                        i.icon.icon-close
                                    .content-wrapper
                                        p FHSO HFSDHFOISDF SDOIFHIO
                                        p 55555555555
                                    .address-footer
                                        label.make-default
                                            .checkbox
                                                input(type="checkbox")
                                                label
                                            span DEFAULT

                                        a.address-box-edit(href="#")
                                            i.icon.icon-pencil

block scripts
    <!-- add address modal -->
    .modal.wide-modal-box(data-open="addNewAddress")
        .modal-overlay
        .content
            a.btn-close(href="#", data-toggle="addNewAddress")
            .centerfix.margin-bottom-25
                h3.title.title--primary.modal-title ADD ADDRESS

            form.form.form-row
                .form__input-group--half
                    input.error.input.input--primary(type="text", placeholder="FIRST NAME*")

                .form__input-group--half
                    input.input.input--primary(type="text", placeholder="LAST NAME*")

                .form__input-group
                    input.error.input.input--primary(type="text", placeholder="ADDRESS LINE 1")

                .form__input-group
                    input.input.input--primary(type="text", placeholder="ADDRESS LINE 2")

                .form__input-group--half
                    input.error.input.input--primary(type="text", placeholder="ZIP*")

                .form__input-group--half
                    input.input.input--primary(type="text", placeholder="CITY*")

                .form__input-group--half
                    .select
                        select
                            - for(var a = 0; a<=4; a++)
                            option(value="#{a}") MIAMI

                .form__input-group--half
                    input.input.input--primary(type="text", placeholder="PHONE*")

                .form__input-group
                    label.checkbox-label-gray
                        .checkbox
                            input(type="checkbox")
                            label
                        span MAKE DEFAULT ADDRESS

                .form__input-group--half
                    input.button.button--black.clear-margin(type="submit", value="SAVE ADDRESS")

                .form__input-group--half
                    input.button.button--white(type="submit", value="CANCEL")