extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.my-account-wrapper
        .container-1024
            .my-account-container
                .centerfix.breadcrumb-wrapper
                    .breadcrumb
                        a(href="#") Home
                        a(href="#") My Account

                include partials/account-left-menu

                section.right-content
                    .my-account-main-menu
                        .my-account-main-menu-item
                            a(href=urlPrefix + "my-account_profile.html")
                                h3 PROFILE
                                    i.icon.icon-arrow-right
                                p Welcome back <b>james</b>! Manage and edit your personal information here.
                        .my-account-main-menu-item
                            a(href=urlPrefix + "my-account_nine-loves-rewards.html")
                                h3 NINE LOVES REWARDS
                                    i.icon.icon-arrow-right
                                p Get rewarded for your love of shoes.
                                p CURRENT POINTS: 0
                                p 150 points until your next reward
                        .my-account-main-menu-item
                            a(href=urlPrefix + "my-account_orders.html")
                                h3 ORDERS
                                    i.icon.icon-arrow-right
                                p Check the status or track your current order, or see what you've already purchased.
                        .my-account-main-menu-item
                            a(href=urlPrefix + "my-account_wishlist.html")
                                h3 WISHLIST
                                    i.icon.icon-arrow-right
                                p Save & share your favorite Nine West Items.
                        .my-account-main-menu-item
                            a(href=urlPrefix + "my-account_address-book.html")
                                h3 ADDRESS BOOK
                                    i.icon.icon-arrow-right
                                p Save all your most important addresses.
                        .my-account-main-menu-item
                            a(href=urlPrefix + "my-account_wallet.html")
                                h3 WALLET
                                    i.icon.icon-arrow-right
                                p Checkouts made easy.