extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.my-account-wrapper
        .container-1024
            .my-account-container
                .centerfix.breadcrumb-wrapper
                    .breadcrumb
                        a(href="#") Home
                        a(href="#") My Account
                        a(href="#") Profile

                include partials/account-left-menu

                section.right-content
                    .my-account-profile-wrapper
                        form.form
                            h3.title PROFILE
                            .form__input-group
                                label.form__input-group__field-name FIRST NAME
                                input.error.input.input--primary(type="text", placeholder="Enter Your First Name")
                                label.error First name is required.

                            .form__input-group
                                label.form__input-group__field-name LAST NAME
                                input.input.input--primary(type="text", placeholder="Enter Your Last Name")

                            .form__input-group--birth-day
                                label.form__input-group__field-name BIRTHDAY DAY
                                .centerfix
                                    .select
                                        select
                                            - for(var a = 0; a<=12; a++)
                                                option(value="#{a}")= a

                            .form__input-group--birth-month
                                label.form__input-group__field-name BIRTHDAY MONTH
                                .centerfix
                                    .select
                                        select
                                            - for(var a = 0; a<=12; a++)
                                            option(value="#{a}") JULY

                            p.sub-note When's your birthday? Tell us for a special treat.

                            p.sub-note You're on the list to receive exclusive Nine West discounts, sales, style tips and more. If you want to unsubscribe,
                                a(href="#") click here

                            .centerfix
                                button.button.button--block.button--black(type="submit") SAVE CHANGES


                        form.form
                            h3.title CHANGE EMAIL
                            .form__input-group
                                label.form__input-group__field-name EMAIL ADDRESS*
                                input.error.input.input--primary(type="text", placeholder="Enter Your Email Address")
                                label.error First name is required.

                            .form__input-group
                                label.form__input-group__field-name ENTER PASSWORD TO CHANGE EMAIL*
                                .centerfix
                                    input.input.input--primary(type="text", placeholder="Current Password")
                                    span.show-password SHOW

                            .centerfix
                                button.button.button--block.button--black(type="submit") SAVE CHANGES


                        form.form
                            h3.title CHANGE PASSWORD

                            .form__input-group
                                label.form__input-group__field-name CURRENT PASSWORD*
                                .centerfix
                                    input.error.input.input--primary(type="text", placeholder="Current Password")
                                    span.show-password SHOW
                                    label.error Current password is required.

                            .form__input-group
                                label.form__input-group__field-name NEW PASSWORD*
                                .centerfix
                                    input.input.input--primary(type="text", placeholder="New Password")
                                    span.show-password SHOW

                            .form__input-group
                                label.form__input-group__field-name CONFIRM NEW PASSWORD*
                                .centerfix
                                    input.input.input--primary(type="text", placeholder="Confirm New Password")
                                    span.show-password SHOW

                            .centerfix
                                button.button.button--block.button--black(type="submit") SAVE CHANGES
