extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.my-account-wrapper
        .container-1024
            .my-account-container
                .centerfix.breadcrumb-wrapper
                    .breadcrumb
                        a(href="#") Home
                        a(href="#") My Account
                        a(href="#") Wallet

                include partials/account-left-menu

                section.right-content
                    h1.title WALLET
                    .row
                        .col-xs-12.col-sm-4
                            a.button.button--black-17.button--link(href="#", data-toggle="addCard") ADD CARD +
block scripts
    <!-- add address modal -->
    .modal.wide-modal-box(data-open="addCard")
        .modal-overlay
        .content
            a.btn-close(href="#", data-toggle="addCard")
            .centerfix.margin-bottom-25
                h3.title.title--primary.modal-title ADD NEW CARD

            .form.add-cart-form
                .form__input-group--half
                    .form__input-group--card-number
                        input.error.input.input--primary(type="text", placeholder="CREDIT CARD NUMBER*")
                    .form__input-group--cvv
                        input.error.input.input--primary(type="text", placeholder="CVV*")
                        a.cvv-desc(href="#", data-toggle="cvv-alert")
                            img(src=prefix + "img/hint.png")

                .form__input-group--half
                    .form
                        .form__input-group--half
                            .select-2
                                select
                                    - for(var a = 0; a<=4; a++)
                                        option(value="#{a}") MIAMI
                        .form__input-group--half
                            .select-2
                                select
                                    - for(var a = 0; a<=4; a++)
                                        option(value="#{a}") MIAMI


            .form__input-group
                label.checkbox-label-gray
                    .checkbox
                        input(type="checkbox")
                        label
                    span MAKE DEFAULT ADDRESS

            .centerfix
                h3.title.title--primary.modal-title BILLING ADDRESS

            .centerfix.margin-bottom-25
                .global-address-list
                    - for(var i = 0; i<2; i++)
                        .address-box
                            .title-wrapper
                            .content-wrapper
                                p EMRE KARAMANEFNS OFOSDI FIOSHF OISHDOIFIS FOSHDFOHSDOI FOISDOFOSDF OS
                                p MIAMI, AZ 43434
                                p 555-555-5555
                            .address-footer
                                label.make-default
                                    .checkbox
                                        input(type="checkbox")
                                        label
                                    span SELECT ADDRESS

            .centerfix.margin-bottom-25
                a.button.button--white.button--link.button--no-width(href="#") ADD NEW ADDRESS
                    b +
            .centerfix.add-new-address-block
                form.form.form-row
                    .form__input-group--half
                        input.error.input.input--primary(type="text", placeholder="FIRST NAME*")

                    .form__input-group--half
                        input.input.input--primary(type="text", placeholder="LAST NAME*")

                    .form__input-group
                        input.error.input.input--primary(type="text", placeholder="ADDRESS LINE 1")

                    .form__input-group
                        input.input.input--primary(type="text", placeholder="ADDRESS LINE 2")

                    .form__input-group--half
                        input.error.input.input--primary(type="text", placeholder="ZIP*")

                    .form__input-group--half
                        input.input.input--primary(type="text", placeholder="CITY*")

                    .form__input-group--half
                        .select
                            select
                                - for(var a = 0; a<=4; a++)
                                option(value="#{a}") MIAMI

                    .form__input-group--half
                        input.input.input--primary(type="text", placeholder="PHONE*")

            .form.form-row
                .form__input-group--half
                    input.button.button--black.clear-margin(type="submit", value="SAVE ADDRESS")

                .form__input-group--half
                    input.button.button--white(type="submit", value="CANCEL", data-toggle="addCard")

    <!-- CVV -->
    <!-- cvv banner -->
    .modal.wide-modal-box.no-size(data-open="cvv-alert")
        .modal-overlay
        .content
            a.btn-close(href="#", data-toggle="cvv-alert")

            img(src= prefix + "img/ccv_code2.png")