extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.product-detail-wrapper
        .container-1348
            .product-detail-left-wrapper
                .left-column
                    .visible-xs.product-descriptions
                        h1.product-name Maize Pointy Toe Pumps
                        .product-price
                            span.old-price $59.99
                            span.new-price $59.99
                            span.new-price.shocked $59.99

                        .promotion-holder Off today!
                            i Off today!
                    .product-image-wrapper
                        .small-image-list.product-detail-slide-thumbs

                        .big-image.product-detail-slider.zoomImgHolder2#zoomImgHolder2
                            #zoomNavigator.zoomNavigator

                            #contentZoomLarge.contentZoomLarge(style="display:none;")
                                #zoomLargeImgHolder.zoomLargeImgHolder
                                    img(id="zoomLargeImg" class="zoomLargeImg" src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1508904628127/products/PG.NWFLORENT9X9.JJ8YBA2.EZ.jpg?sw=1500&amp;sh=1500" alt="Florent Pointy Toe Pumps " title="Florent Pointy Toe Pumps ")

                            ul.slides
                                -for(var i = 0; i<6; i++)
                                    if(i % 2 == 0)
                                        li(onclick="javascript:zoomLargeSwitch();", data-thumb="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507435261350/products/PG.NWJATOBA.JJ0LIA0.EZ.jpg?sw=60&sh=63")
                                            img.prImg(src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507435261350/products/PG.NWJATOBA.JJ0LIA0.EZ.jpg?sw=560&sh=560")
                                    else
                                        li(onclick="javascript:zoomLargeSwitch();", data-thumb="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1507435261350/products/PG.NWJATOBA.JJ0LIA0.EZ.jpg?sw=60&sh=63")
                                            img.prImg(src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1508817876830/products/PG.50747NWCOM.JJ933B8.EZ.jpg?sw=2000&sh=2000")

                        .centerfix.margin-top-25
                            .image-popup-note CLICK IMAGE TO ZOOM

                .right-column.product-descriptions
                    .centerfix.product-name-wrap
                        h1.product-name Maize Pointy Toe Pumps
                        .product-price
                            span.old-price $59.99
                            span.new-price $59.99
                            span.new-price.shocked $59.99

                        .promotion-holder Off today!
                            i Off today!

                    .product-rate
                        span.rate-0
                        a.total-count(href="#") (16)

                    .centerfix.product-color-picker
                        .centerfix
                            span.field color:
                            span.value ORANGE

                        ul.color-list
                            -for(var i = 1; i <= 8; i++)
                                li(class= i==2 ? "active" : "")
                                    img(src="http://www.ninewest.com/dw/image/v2/AACA_PRD/on/demandware.static/-/Sites-ninewest-catalog/default/v1508644861394/products/PG.NWFLORENT9X9.JJ0HTA1.CP.jpg?sw=44&sh=44")

                    .centerfix.product-size-wrap
                        span.field size:
                        span.value 10
                        a.link(href="#") SIZE GUIDE

                        ul.size-list
                            -for(var i = 1; i <= 12; i++)
                                li= i
                    .centerfix.add-to-cart-button-holder
                        .validation-error-block
                            <!-- HATALAR BURAYA BASILABİLİR -->
                        <!-- disabled classı eklerseniz gri görünür. -->
                        a.button.button--link.button--black.add-to-bag-button(href="#") ADD TO BAG

                        .centerfix.text-center.margin-top-15
                            a.button.button--add-to-wishlist


                .product-description-holder.centerfix
                    .left-desc
                        .product-fan-images
                            a.curalate-upload-photos(href="#") UPLOAD YOUR PHOTO
                            .flexslider.single-slide
                                ul.slides
                                    li
                                        img(src=prefix + "img/img-upload-placeholder.png")
                                    li
                                        img(src=prefix + "img/img-upload-placeholder.png")

                        .product-details-block
                            h3.title.title--primary.margin-bottom-15 DETAILS

                            ul.detail-list
                                li Padded insole for all-day comfort
                                li Padded insole for all-day comfort
                                li Padded insole for all-day comfort
                                li Padded insole for all-day comfort
                                li Padded insole for all-day comfort

                            a.detail-link SIZE GUIDE

                            a.detail-link SHIPPING & RETURNS


                    .product-desc
                        h3.title.title--primary.margin-bottom-15 DESCRIPTION
                        p Asymmetrical straps provide the perfect counterpoint to Florent's leg-lengthening pointy toe. Lifted by a 3 3/4" heel. A back zipper makes it easy to slip Florent on and off.

            .recommendation-wrapper.product-detail-reco.hidden-xs
                h4.recommendation-wrapper-title.bold YOU MAY ALSO LIKE

                .reco-product-list
                    ul.slides
                        -for(var i = 0; i < 4; i++)
                            include partials/recommendationProductItem

            .recommendation-wrapper.product-detail-reco-2.hidden-xs
                h4.recommendation-wrapper-title.bold RECENTLY VIEWED

                .reco-product-list
                    ul.slides
                        -for(var i = 0; i < 8; i++)
                            include partials/recommendationProductItem

            .centerfix.product-reviews-wrapper
                h3.title.title--primary.title--space REVIEWS

                .centerfix.review-header
                    .product-rate-wrap
                        .product-rate
                            span.rate-0
                        span.review-avarega 3.9
                        span.note (based on 16 reviews)

                    a.write-a-review-link(href="#") WRITE A REVIEW

                .pr-review-points-attr-wrapper
                    h4 RATINGS DISTRIBUTION
                    ul.distribution-list
                        - for(var i = 5; i>0; i--)
                            li
                                span.rating-text #{i} Stars
                                span.rating-line
                                    i(style="width: 50%")
                                span.rating-count (8)

                .centerfix.review-list
                    .centerfix.review-list-header
                        span.description Reviewed by 16 customers

                        .filter-box Sort by
                            select
                                option Newest
                                option Oldest
                                option Highest rating
                                option Lowest rating
                                option Most helpful

                    ul.list
                        - for(var i = 5; i>0; i--)
                            li
                                .pr-review-author
                                    .pr-review-author-info-wrapper
                                        p By
                                            span Wonder Woman
                                        p from
                                            span Glendale

                                    img.verified-user(src=prefix + "img/badge-verified-buyer.gif")
                                .pr-review-content
                                    .centerfix
                                        .product-rate-wrap
                                            .product-rate
                                                span.rate-0
                                            span.review-avarega 3.9

                                        .review-date 10/18/2017

                                    .centerfix
                                        h5.comment-title I want these in every color!

                                        .pr-review-author
                                            .pr-review-author-info-wrapper
                                                p By
                                                    span Wonder Woman
                                                p from
                                                    span Glendale

                                            img.verified-user(src=prefix + "img/badge-verified-buyer.gif")

                                        p Strappy shoes without the hassle. The zipper makes it easy to put these pumps on! Good heel height, rubber sole and wide toe box= style & comfort!

                                        ul.user-comment-detail
                                            li
                                                span.field QUALITY:
                                                span.value Excellent
                                            li
                                                span.field VALUE:
                                                span.value Excellent
                                            li
                                                span.field DELIVERY:
                                                span.value Excellent
                                            li
                                                span.field AGE:
                                                span.value Excellent

                                        .centerfix.comment-img-wrap
                                            span.about Images shared by
                                                b Dougs

                                            img(src="http://www.ninewest.com/on/demandware.static/-/Sites-ninewest-catalog/default/v1508644861394/pwr/content/04/86/b1abugaxtxjkdh60lelf_thumbnail.jpg")

                                    .centerfix.pr-review-footer
                                        span.pr-review-helpful-text Was this review helpful?
                                            a(href="#") Yes
                                            | /
                                            a(href="#") No

                                        span.pr-review-report-issue You may also
                                            a(href="#") flag this review
                    .centerfix.pr-pagination-bottom
                        .pr-page-count-wrapper Displaying reviews &nbsp;
                            strong 1-10
                        a.back-to-top(href="#") Back to top

                        .pr-page-nav-wrapper
                            a.disabled Previous
                            | |
                            a(href="#") Next »

block scripts
    script.
        if($(window).width() > 767) {
            //Ürün detay zoom
            var isEdit = !!null,
                zoomFlag = false,
                zoomImgSize = 1500,
                zoomImgSizeReset = 0,
                offset = 0,
                navW = 0,
                navH = 0,
                navX = 0,
                navY = 0,
                imgW = 0,
                imgH = 0,
                zoomX = 0,
                zoomY = 0,
                zoomImgW = 0,
                zoomImgH = 0,
                zoomFrameW = 0,
                zoomFrameH = 0;

            function zoomLargeSwitch() {
                if (!isEdit) {
                    zoomFlag = !zoomFlag;
                    if (zoomFlag) {
                        initZoom();
                        $("#contentZoomLarge").fadeIn(300);
                        $('.zoomNavigator').show();
                    }
                    else {
                        $("#contentZoomLarge").hide();
                        $('.zoomNavigator').hide();
                        zoomViewSwitch2(zoomImgSizeReset);
                    }
                }
            }

            function zoomViewSwitch2(imgSize) {
                try {
                    if (imgSize > 0) {
                        document.getElementById('zoomLargeImg').src = $('.flex-active-slide .prImg').attr('src').split('?')[0] + '?sw=' + imgSize + '&sh=' + imgSize;
                    } else {
                        document.getElementById('zoomLargeImg').src = "/on/demandware.static/Sites-ninewest-Site/-/default/v1508904628127/images/spacer.gif";
                    }
                } catch (err) {
                }
            }

            function initZoom() {
                offset = $('.zoomImgHolder2').offset();
                navW = $('.zoomNavigator').width(); // 150px
                navH = $('.zoomNavigator').height();
                navX = 0;
                navY = 0;
                imgW = $('.prImg').width(); // 560px or 100%
                imgH = imgW; // 560px or 100%
                zoomImgW = $('.zoomLargeImgHolder').width(); // 1500px
                zoomImgH = $('.zoomLargeImgHolder').height();
                zoomFrameW = $('.contentZoomLarge').width(); // 400px
                zoomFrameH = $('.contentZoomLarge').height();
                zoomViewSwitch2(zoomImgSize);
            }

            $('.zoomImgHolder2').mousemove(function (e) {
                if (!isEdit) {
                    navX = e.pageX - offset.left - navW / 2;
                    navY = e.pageY - offset.top - navH / 2;
                    toPositionZoom();
                }
            });

            $('.zoomImgHolder2').click(function (e) {
                if (!isEdit) {
                    navX = e.pageX - offset.left - navW / 2;
                    navY = e.pageY - offset.top - navH / 2;
                    toPositionZoom();
                }
            });

            function toPositionZoom() {
                if (zoomFlag) {
                    // zoom navigator
                    if (navX < 0) navX = 0;
                    else if (navX > (imgW - navW - 2)) navX = imgW - navW - 2;

                    if (navY < 0) navY = 0;
                    else if (navY > (imgH - navH)) navY = imgH - navH;

                    $('.zoomNavigator').css({left: navX, top: navY});

                    // zoomed img
                    zoomX = -navX * zoomImgW / imgW;
                    zoomY = -navY * zoomImgH / imgH;

                    if (zoomX > 0) zoomX = 0;
                    else if (zoomX < -(zoomImgW - zoomFrameW)) zoomX = -(zoomImgW - zoomFrameW);

                    if (zoomY > 0) zoomY = 0;
                    else if (zoomY < -(zoomImgH - zoomFrameH)) zoomY = -(zoomImgH - zoomFrameH);

                    $('.zoomLargeImgHolder').css({left: zoomX, top: zoomY});
                }
            }

            $('.zoomImgHolder2').mouseleave(function () {
                if (!isEdit) {
                    zoomFlag = true;
                    zoomLargeSwitch();
                }
            });
        }