extends layout/layout

block head
    - var title = "ninewest.com";
    - var description = "ninewest.com";
    - var keywords = "ninewest.com";

block content
    .subpage-container.product-list-wrapper
        .container-1348
            .centerfix
                .breadcrumb
                    a(href="#") Home
                    a(href="#") Bags & Accessories
                    a(href="#") Watches

                .product-count 30 results

            .centerfix
                .centerfix.filter-select-wrapper
                    .mobile-filter-select.custom-select-3
                        .field(data-toggle="mobile-filter-select") FILTERS

                    .mobile-filter-select-list
                        .custom-select-3
                            .field SIZE
                            .dropdown
                                .filter-size-list
                                    -for(var i=9; i<18; i++)
                                        li= i

                        .custom-select-3
                            .field COLOR
                            .dropdown
                                .filter-color-list
                                    -for(var i=9; i<18; i++)
                                        li
                                            .color(style="background-color: red")
                                            .name Red

                        .custom-select-3
                            .field HEEL HEIGHT
                            .dropdown
                                .filter-single-list
                                    li Low <2"
                                    li Mid 2" to 3"
                                    li High >3"

                        .custom-select-3
                            .field PRICE
                            .dropdown
                                .filter-single-list
                                    li Below $50
                                    li $50 - $75
                                    li $75 - $100
                                    li Above $100

                    .custom-select-3.sort-type-select
                        .field SORT: $ - $$$
                        .dropdown
                            .filter-sort-list
                                li SORT: Top Rated
                                li SORT: Featured
                                li SORT: $$$ - $




            .product-list
                - for(var i = 0; i < 15; i++)
                    include partials/productItem

            .pagination-loading
                | Loading
                img(src=prefix+"img/icon-ajax_loader.gif")
