
@font-face {
  font-family: 'ProximaNovaA-Light';
  src: url('ProximaNovaA-Light.eot?#iefix') format('embedded-opentype'),  url('ProximaNovaA-Light.woff') format('woff'), url('ProximaNovaA-Light.ttf')  format('truetype'), url('ProximaNovaA-Light.svg#ProximaNovaA-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
