/**
  Basket css
 */

.basket-container {
    @include centerfix;
    padding: 0 30px;

    @include breakpoint($phablet) {
        padding: 10px;
    }

    .recommendation-wrapper {
        @include breakpoint($phablet) {
            width: 294px;
            margin: 10px auto;
            float: none;
        }

        .slides {
            li {
                width: 25%;

                .product-item {
                    width: 100%;
                }
            }
        }
    }

    .page-title {
        display: inline-block;
        width: 50%;
        margin-top: 16px;

        @include breakpoint($phablet) {
            width: 100%;
            margin: 0 0 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid $black;
            text-align: center;
        }
    }

    .top-checkout-link {
        float: right;
        width: 50%;
        text-align: right;

        @include breakpoint($phablet) {
            position: relative;
            width: 100%;
            padding-top: 60px;
            text-align: center;
        }

        .paypal {
            display: inline-block;
            vertical-align: bottom;
            margin-right: 7px;
            background: #f3f3f3;
            border-radius: 5px;
            height: 35px;
            padding: 0 7px;
            line-height: 35px;
            width: 70px;

            img {
                max-width: 100%;
            }
        }

        .button {
            display: inline-block;
            max-width: 195px;
            box-shadow: 2px 2px 2px 0 #DDD;
            margin-top: 0;

            @include breakpoint($phablet) {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                max-width: inherit;
            }
        }
    }

    .basket-product-list {
        @include centerfix;
        margin-bottom: 40px;

        &-fields {
            @include centerfix;
            height: 45px;
            margin-top: 15px;

            @include breakpoint($phablet) {
                display: none;
            }

            li {
                float: left;
                height: 45px;
                background: #efefef;
                font-family: $proximanovaA_regular;
                font-size: 15px;
                line-height: 45px;
                text-align: center;

                &:first-child {
                    width: 64%;
                    margin-right: 0.66%;
                }

                &:last-child {
                    width: 35%;
                }
            }
        }

        &-item {
            @include centerfix;
            padding: 25px 0 45px;
            border-bottom: 1px solid #999;

            @include breakpoint($phablet) {
                padding: 25px 0 65px;
            }

            &-image {
                float: left;
                width: 18%;
                padding-right: 3%;

                @include breakpoint($phablet) {
                    width: 30%;
                    padding-right: 5%;
                }

                img {
                    max-width: 100%;
                }
            }

            &-description {
                float: left;
                width: 33%;
                padding-right: 3%;

                @include breakpoint($phablet) {
                    width: 65%;
                    padding-right: 0;
                }

                .desktop-wrap {
                    display: block;

                    @include breakpoint($phablet) {
                        display: none;
                    }
                }

                .mobile-wrap {
                    display: none;

                    @include breakpoint($phablet) {
                        display: block;
                    }
                }

                .product-name {
                    @include centerfix;
                    a {
                        font-weight: 600;
                        font-family: $proximanova_medium;
                        color: $black;
                        font-size: 13px;
                        letter-spacing: 0.5px;
                        line-height: 23px;
                        text-decoration: none;
                    }
                }
                p {
                    font-size: 1.01em;

                    @include breakpoint($phablet) {
                        font-size: 14px;
                    }

                    strong {
                        font-family: $proximanovaA_medium;
                        font-size: 13px;
                        color: $black;
                        letter-spacing: 0.5px;
                        line-height: 23px;

                        @include breakpoint($phablet) {
                            font-weight: 700;
                        }

                    }
                }
                .promotion-text {
                    font-family: $proximanovaA_medium;
                    font-size: 13px;
                    font-style: italic;
                    letter-spacing: 0.5px;
                    line-height: 23px;
                    color: #CC0000 !important;
                }
            }

            &-action {
                float: left;
                width: 15%;
                text-align: center;

                @include breakpoint($phablet) {
                    position: absolute;
                    bottom: 25px;
                    left: 0;
                    width: 100%;
                }

                a {
                    display: block;
                    margin: 15px 0 30px;
                    font-size: 11px;
                    line-height: 16px;
                    color: #666666;

                    @include breakpoint($phablet) {
                        display: inline-block;
                        margin: 15px 7px 0;
                    }

                    i {
                        display: inline-block;
                        margin: 7px 0;
                        font-size: 19px;

                        @include breakpoint($phablet) {
                            margin: 0 7px;
                            font-size: 17px;
                            vertical-align: middle;
                        }
                    }

                    span {
                        display: block;

                        @include breakpoint($phablet) {
                            display: inline-block;
                        }
                    }
                }
            }

            &-price {
                float: left;
                width: 32%;
                padding-right: 21px;
                text-align: right;

                @include breakpoint($phablet) {
                    width: 100%;
                    padding-right: 0;
                }

                span {
                    display: block;
                    line-height: 26px;
                    font-family: ProximaNovaA-Medium, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    color: #000;
                    letter-spacing: 0.5px;

                    &.discount-price {
                        color: #CC0000;
                    }

                    i {
                        padding-right: 7px;
                    }
                }
            }
        }
    }
    .basket-bottom-left-wrapper {
        float: left;
        width: 54%;
        margin-right: 4%;

        @include breakpoint($phablet) {
            width: 100%;
            margin-right: 0;
        }
    }
    .basket-bottom-right-wrapper {
        float: left;
        width: 42%;

        @include breakpoint($phablet) {
            width: 100%;
        }
    }

    .promotional-wrapper {
        @include centerfix;
        background-color: white;
        border: 1px solid #999;
        padding: 25px;

        @include breakpoint($phablet) {
            border: none;
            padding: 0;
            margin-bottom: 25px;
        }

        .title {
            display: block;
            font-family: $proximanovaA_regular;
            margin-bottom: 25px;
            font-size: 19px;
            line-height: 19px;
        }
    }

    .call-center-block {
        @include centerfix;
        padding: 35px 10px;

        @include minBreakpoint($phablet) {
            &.hide-mobile {
                display: block;
            }
            &.hide-desktop {
                display: none;
            }
        }

        @include breakpoint($phablet) {
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
            margin: 40px 0;
            text-align: center;

            &.hide-mobile {
                display: none;
            }
        }

        .title {
            font-weight: bold;
            font-family: $proximanovaA_regular;
            margin-bottom: 25px;
            font-size: 19px;
            line-height: 19px;

            @include breakpoint($phablet) {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
        a, .phone-number {
            display: block;
            margin-bottom: 25px;
            font-family: $proximanovaA_regular;
            font-size: 15px;
            color: $black;
        }

        a {
            text-decoration: underline;
        }

        .call-us {
            @include centerfix;
            margin-top: -10px;
            letter-spacing: 1.26px;

            span {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                margin-right: 5px;
            }

            a {
                display: inline-block;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }

    .shipping-action {
        @include centerfix;
        padding-bottom: 25px;
        border-bottom: 1px solid #999999;
    }

    .order-summary-content {
        @include centerfix;
        padding: 25px 28px 25px 25px;
        border-bottom: 1px solid #999999;

        .order-summary-item {
            @include centerfix;
            text-align: right;
            margin-bottom: 20px;

            * {
                font-size: 13px;
                color: $black;
            }

            &.discount * {
                color: #CC0000 !important;
            }

            .field {
                float: left;
                width: 75%;

                &.gray-field {
                    color: #666 !important;

                    a.underline {
                        color: #666;
                    }
                }
            }

            .underline {
                text-decoration: underline;
            }

            .price {
                float: left;
                width: 25%;
                font-family: $proximanovaA_medium;
                letter-spacing: 0.5px;
            }
        }
    }

    .payment-types {
        @include centerfix;
        text-align: center;
        margin-top: 15px;

        .paypal {
            display: inline-block;
            background: #f3f3f3;
            border-radius: 5px;
            height: 35px;
            padding: 0 7px;
            margin-bottom: 15px;

            img {
                display: inline-block;
                vertical-align: middle;
                max-width: 45%;
                margin-right: 7px;
            }
            span {
                display: inline-block;
                font-family: $proximanova_medium;
                font-weight: 600;
                font-size: 13px;
                letter-spacing: 0.5px;
                line-height: 35px;
                color: #666;
            }
        }

        p {
            font-size: 1.01em;
            color: #666;
            margin: 10px 0 0;
        }
    }
}

.promotional-form {

    .wide-field {
        position: relative;
        float: left;
        width: 65%;
        margin-right: 4%;

        @include breakpoint($phablet) {
            width: 100%;
        }
    }
    .small-field {
        position: relative;
        float: left;
        width: 25%;

        @include breakpoint($phablet) {
            width: 100%;
        }
    }
}