/**
  Checkout css
 */

.checkout-container {
    @include centerfix;
    padding: 0 30px;

    @include breakpoint($phablet) {
        padding: 0 2%;
    }

    .checkout-left-wrapper {
        float: left;
        width: 67%;
        margin: 0 3%;

        @include breakpoint($small_desktop) {
            width: 100%;
            margin: 0;
        }
    }

    .checkout-right-wrapper {
        float: left;
        width: 27%;

        @include breakpoint($small_desktop) {
            width: 100%;
        }
    }

    .checkout-order-summary {
        @include centerfix;
        border: 1px solid #999999;

        &-title {
            @include centerfix;
            text-align: center;
            padding: 20px 0;
            font-family: $proximanovaA_regular;
            font-size: 19px;
            color: $black;
            border-bottom: 1px solid #979797;
        }

        &-content {
            @include centerfix;
            padding: 10px;

            .basket-edit {
                float: right;
                text-decoration: underline;
                font-family: $proximanovaA_regular;
                font-size: 12px;
                color: #666;
                line-height: 14px;
                letter-spacing: 0;
            }

            &-product-list {
                @include centerfix;
                border-bottom: 1px solid #979797;
                padding-bottom: 25px;

                .checkout-product-list-item {
                    @include centerfix;
                    padding: 25px 0 0;

                    &::after {
                        content: "";
                        float: left;
                        margin: 25px 15% 0;
                        border-bottom: 1px solid #979797;
                        width: 70%;
                    }

                    &:last-child::after {
                        display: none;
                    }

                    &-image {
                        float: left;
                        width: 30%;
                        margin-right: 3%;

                        img {
                            max-width: 100%;
                        }
                    }

                    &-description {
                        float: left;
                        width: 66.6666%;
                        margin-bottom: 10px;
                        letter-spacing: 0.5px;
                        line-height: 19px;

                        * {
                            color: $black;
                            font-size: 13px !important;
                            font-family: $proximanovaA_medium;
                        }
                    }

                    &-price {
                        @include centerfix;
                        text-align: right;

                        span {
                            @include centerfix;
                            font-size: 13px;
                            color: #666;
                            letter-spacing: 0.5px;
                            line-height: 20px;

                            &.discount-price {
                                color: #CC0000;
                            }

                            &.new-price {
                                font-weight: bold;
                                color: $black;
                            }
                        }
                    }
                }
            }


            .order-summary-content {
                @include centerfix;

                .order-summary-item {
                    @include centerfix;
                    text-align: right;
                    margin-top: 20px;

                    &.total-price {
                        border-top: 1px solid #979797;
                        padding-top: 10px;
                        margin-bottom: 20px;
                    }

                    * {
                        font-size: 13px;
                        color: $black;
                    }

                    &.discount * {
                        color: #CC0000 !important;
                    }

                    .field {
                        float: left;
                        width: 75%;

                        &.gray-field {
                            color: #666 !important;

                            a.underline {
                                color: #666;
                            }
                        }
                    }

                    .underline {
                        text-decoration: underline;
                    }

                    .price {
                        float: left;
                        width: 25%;
                        font-family: $proximanovaA_medium;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }



    /*checkout steps*/
    .checkout-steps-wrapper {
        @include centerfix;

        .checkout-steps-tab {
            @include centerfix;
            padding: 0 17px;
            background: #efefef;
            margin-bottom: 5px;

            h3 {
                float: left;
                line-height: 44px !important;
                font-size: 13px;
            }

            .edit-button {
                float: right;
                color: #666;
                font-size: 13px;
                line-height: 44px;
                font-family: $proximanovaA_regular;

                i {
                    margin-left: 5px;
                }
            }

            .checkout-step-detail {
                @include centerfix;
                margin-bottom: 25px;

                &-block {
                    float: left;
                    width: 25%;
                    margin: 0 10% 0 15%;

                    &:last-child {
                        margin: 0;
                    }

                    h4 {
                        font-family: $proximanova_medium;
                        font-size: 14px;
                        line-height: 19px;
                        color: $black;
                        font-weight: bold;
                        margin-bottom: 12px;
                    }

                    p {
                        font-size: 13px;
                        line-height: 16px;
                        color: $black;
                    }

                }
            }
        }

        .checkout-steps-content {
            @include centerfix;
            padding: 0 33px 0 27px;

            @include breakpoint($small_desktop) {
                padding: 0 10px;
            }

            .payment-promotional-toggle {
                @include centerfix;
                margin-top: 25px;
                color: $black;

                &.opened {
                    i::before {
                        content: "\e903";
                    }
                }

                @include breakpoint($phablet) {
                    border: 1px solid rgb(153, 153, 153);
                    margin-bottom: 20px;
                    padding: 12px 10px;

                    &.opened {
                        border: none;
                        margin-bottom: 0;
                        padding: 0;

                        span {
                            display: none;
                        }

                        i {
                            position: absolute;
                            right: 12px;
                            top: 0;
                        }
                    }

                    span {
                        border-bottom: none !important;

                        b {
                            display: none;
                        }

                        small {
                            text-transform: lowercase;
                        }
                    }

                    i {
                        float: right;
                    }
                }

                span {
                    font-family: $proximanovaA_regular;
                    font-size: 14px;
                    border-bottom: 1px solid #999;
                    float: left;
                }

                i::before {
                    content: "\e901";
                    font-weight: 900;
                    font-size: 16px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .cc-logo-list {
        margin: 8px 0 20px;

        img {
            float: left;
            max-height: 25px;
        }
    }

    .paypal-panel {
        h4 {
            display: block;
            padding: 5px 0 15px;
            font-family: $proximanovaA_regular;
            font-size: 14px;
        }
        
        p {
            display: block;
            padding-bottom: 25px;
            color: #666;
        }
    }
    .cc-panel {
        .payment-address-box {
            font-family: $proximanovaA_regular;
            color: $black;
            display: inline-block;
            border: 1px solid $black;
            padding: 20px;
            font-size: 13px;
            line-height: 1.6;
        }
        .payment-form {
            @include centerfix;

            > div {
                margin-bottom: 25px;

                @include breakpoint($phablet) {
                    margin-bottom: 15px;
                }
            }

            .payment-form-wide {
                width: 50%;
                margin-right: 5%;

                @include breakpoint($phablet) {
                    width: 100%;
                    margin-right: 0;
                }
            }

            .payment-form-cvv {
                width: 10%;

                @include breakpoint($phablet) {
                    width: 60%;
                }

                .cvv-desc {
                    @include center(false, true);
                    right: -30px;
                }
            }

            .payment-form-month {
                width: 40%;
                margin-right: 5%;
            }

            .payment-form-year {
                width: 20%;
            }
        }
    }

    .order-success-wrap {
        @include centerfix;
        text-align: center;
        padding: 50px 0;

        .title {
            color:#0fad00;
            font-size: 24px;
            font-family: $proximanova_medium;
        }

        p {
            color: $black;
            font-size: 16px;
            font-family: $proximanova_regular;
        }
    }
}