/**
  Login signup css
 */
.account-form-box {
    border: solid 1px #999999;
    padding: 40px 7.5% 35px;

    @include breakpoint($phablet) {
        border: none;
        padding: 40px 2.5% 35px;
    }

    &__title {
        position: relative;
        margin: -53px auto 25px;
        background-color: $white;
        text-align: center;
        font-size: 23px;
        font-family: $proximanova_regular;
        color: $black;
        letter-spacing: 1px;
        width: 70%;

        @include breakpoint($tablet) {
            width: 80%;
        }

        @include breakpoint(320px) {
            font-size: 19px;
        }
    }

    .forgot-password {
        float: left;
        width: 100%;
        margin-top: 15px;
        font-family: $proximanova_regular;
        font-size: 13px;
        color: $black;
        letter-spacing: 1px;
        text-align: right;

        a {
            text-decoration: underline;
            color: $black;
        }
    }

    .privacy-policy {
        .checkbox {
            display: inline-block;
            margin: 5px 15px 0 0;
        }
        p {
            font-family: $proximanova_regular;
            font-size: 13px;
            line-height: 19px;
            color: $black;
            letter-spacing: 0;

            a {
                color: $black;
                text-decoration: underline;
            }
        }
    }
}

/*Forgot password*/
.forgot-password-wrapper {
    position: relative;
    margin: 0 auto;
    width: 50%;
    padding: 40px 4.5% 35px;

    @include breakpoint($phablet) {
        padding: 40px 0 35px;
    }

    h1 {
        display: block;
        text-align: center;
        font-family: $proximanova_regular;
        font-weight: normal;
        color: $black;
        letter-spacing: 1px;
        font-size: 23px;
    }

    p {
        display: block;
        padding-bottom: 20px;
        text-align: center;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 13px;
        line-height: 20px;
        color: $black;
    }

    input[type="text"] {
        margin-bottom: 25px;
    }
}