/**
  Main css
 */
main {
    @include centerfix;
    min-height: 500px;
    z-index: 3;

    @include breakpoint($tablet) {
        margin-top: 90px;
    }
}

.centerfix {
    @include centerfix;
}

.img-responsive {
    max-width: 100%;
}

.visible-xs {
    display: none;

    @include breakpoint($tablet) {
        display: block;
    }
}

.mobile-center {
    @include breakpoint($phablet) {
        text-align: center;
    }
}

.hidden-xs {
    @include breakpoint($tablet) {
        display: none;
    }
}

.page-title {
    font-family: $proximanovaA_regular;
    font-size: 23px;
    letter-spacing: 1px;
}

.text-center {
    text-align: center;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.clear-margin {
    margin: 0;
}

.container-1024 {
    position: relative;
    margin: 0 auto;
    width: 1024px;

    @include breakpoint($small_desktop) {
        width: 748px;
    }

    @include breakpoint($phablet) {
        width: 100%;
    }
}

.container-1348 {
    position: relative;
    margin: 0 auto;
    width: 99%;

    @include minBreakpoint(1366px) {
        width: 1348px;
        padding: 0 10px;
    }
}

.subpage-container {
    @include centerfix;
    padding: 25px 0;
}

/*Layout grid*/
.width50 {
    float: left;
    margin: 0 2%;
    width: 45.5%;
}

.pagination-loading {
    @include centerfix;
    text-align: center;
    font-family: $proximanova_regular;
    color: #333333;
    font-size: 10pt;
    padding-top: 50px;

    img {
        margin-left: 7px;
    }
}

/*sol menu ve sağ menü genel*/
.right-content {
    float: left;
    width: 748px;

    @include breakpoint($small_desktop) {
        width: 100%;
    }
}

.left-menu-aside {
    position: relative;
    float: left;
    width: 210px;
    z-index: 4;

    @include breakpoint($small_desktop) {
        width: 100%;
        margin-bottom: 30px;
    }

    .left-menu-mobile-toggle {
        display: none;

        @include breakpoint($small_desktop) {
            float: left;
            font-family: $proximanova_regular;
            font-size: 13px;
            line-height: 47px;
            color: $black;
            text-indent: 6px;
            width: 100%;
            display: block;
            padding: 0 20px;
            background: #efefef;

            i {
                @include center(false, true);
                right: 20px;
            }

            &.active {
                background: $white;
            }
        }
    }

    ul {
        @include centerfix;

        @include breakpoint($small_desktop) {
            position: absolute;
            left: 0;
            top: 47px;
            display: none;
            text-indent: 26px;

            &.active {
                display: block;
            }
        }

        li {
            @include centerfix;

            a {
                float: left;
                width: 100%;
                font-size: 13px;
                font-family: $proximanova_medium;
                color: $black;
                padding: 10px 0;

                @include breakpoint($small_desktop) {
                    padding: 14px 0;
                    border-bottom: solid 1px #eeeeee;
                    background-color: $white;

                    &.active {
                        background-color: #eeeeee;
                    }
                }

                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}

/*recommendation css*/
.recommendation-wrapper {
    @include centerfix;
    border: 2px solid #c9c9c9;
    padding-top: 20px;

    @include breakpoint($phablet) {
        border: none;
    }

    &-title {
        display: block;
        margin-top: -38px;
        background: white;
        position: absolute;
        margin-left: 20px;
        padding: 10px;
        color: $black;
        font-family: $proximanovaA_light;
        font-size: 15px;

        @include breakpoint($phablet) {
            margin-left: 0;
        }

        &.bold {
            font-family: $proximanova_medium;
            font-size: 18px;
            margin-top: -42px;
        }
    }

    .reco-product-list {
        @include centerfix;

        @include breakpoint($phablet) {
            padding: 0 20px;
            text-align: center;
        }

        .slides {
            @include centerfix;

            li {
                float: left;
                width: 25%;

                .product-item {
                    width: 100%;
                }
            }
        }
    }
}

/*Back to top*/
#back-to-top {
    position: fixed;
    bottom: 130px;
    right: 20px;
    background: url("../img/back-to-top.png") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    z-index: 99999;
    display: none;
}

/*mobile block toggle button*/
.mobile-toggle-block-button {
    @include centerfix;
    color: $black;
    border: 1px solid rgb(153, 153, 153);
    margin-bottom: 15px;
    padding: 12px 10px;
    display: none;

    &.opened {
        i::before {
            content: "\e903";
        }
    }

    @include breakpoint($phablet) {
        display: block;
    }

    span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    i{
        float: right;
        margin-left: 5px;
        cursor: pointer;
        color: #666;
        
        &::before {
            content: "\e901";
            font-weight: 900;
            font-size: 16px;
        }
    }
}