/**
  My account order css
 */

.my-account-order-wrapper {
    @include centerfix;

    .order-list {
        @include centerfix;

        li {
            @include centerfix;
            padding: 15px 0;
            border-bottom: 1px solid #ccc;

            &:last-child {
                border-bottom: none;
            }

            .desc-wrapper {
                @include breakpoint($phablet) {
                    @include centerfix;
                    margin-bottom: 10px;
                }
            }

            .img-wrapper {
                float: left;
                width: 20%;
                padding-right: 3%;


                img {
                    max-width: 100%;
                }
            }

            .description {
                float: left;
                width: 50%;

                @include breakpoint($phablet) {
                    width: 80%;
                }

                .product-name {
                    @include centerfix;
                    font-size: 16px;
                    color: $black;
                    margin-bottom: 5px;
                }
                
                .skus {
                    @include centerfix;
                    font-size: 12px;
                    color: $black;
                    margin-bottom: 5px;
                    
                    span {
                        color: #666;
                    }
                }
            }

            .date {
                float: left;
                width: 15%;

                @include breakpoint($phablet) {
                    width: 50%;
                    text-align: center;
                }
            }

            .status {
                float: left;
                width: 15%;
                text-align: center;

                @include breakpoint($phablet) {
                    width: 50%;
                }
                
                &.success {
                    color: green;
                }
            }
        }
    }
}