/**
  My account profile css
 */

.my-account-profile-wrapper {
    float: left;
    width: 400px;

    @include breakpoint($phablet) {
        width: 100%;
    }

    .form {
        @include centerfix;
        margin-bottom: 50px;

        .sub-note {
            @include centerfix;
            color: #666666;
            padding: 5px 0 10px;
            
            a {
                color: #666666;
                text-decoration: underline;
            }
        }
    }
}