/**
  My account wishlist css
 */

.my-account-wishlist-wrapper {
    @include centerfix;

    @include breakpoint($phablet) {
        text-align: center;
    }

    .button--black-17 {
        margin-bottom: 40px;
    }

    p {
        float: left;
        width: 100%;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 13px;
        color: $black;
        padding-bottom: 7px;
    }
    a.start-shopping-link {
        display: inline-block;
        font-size: 17px;
        font-family: $proximanova_regular;
        color: $black;
        letter-spacing: 0;
        padding-top: 10px;
        width: 100%;
        text-decoration: underline;
    }

}