/**
  My account address css
 */

.my-account-address-wrapper {
    @include centerfix;

    @include breakpoint($phablet) {
        text-align: center;
    }

    .button--black-17 {
        margin-bottom: 40px;
    }

    .address-list {
        margin: 0 -2%;

        .address-box {
            float: left;
            width: 46%;
            margin: 0 2% 25px;
            border: solid 1px #cccccc;

            @include breakpoint($phablet) {
                width: 96%;
                text-align: left;
            }

            .title-wrapper {
                position: relative;
                float: left;
                padding: 10px 60px 10px 10px;
                width: 100%;
                background-color: #eeeeee;
                font-size: 14px;

                .icon {
                    @include center(false, true);
                    right: 10px;
                }
            }

            .content-wrapper {
                float: left;
                width: 100%;
                height: 85px;
                padding: 10px;
                color: $black;
                font-size: 14px;

                p {
                    padding-bottom: 2px;
                }
            }

            .address-footer {
                position: relative;
                float: left;
                width: 100%;
                padding: 10px;

                .make-default {
                    float: left;
                    font-size: 14px;
                    color: $black;
                    height: 25px;

                    .checkbox {
                        margin-right: 10px;
                    }

                    span {
                        display: inline-block;
                        line-height: 38px;
                    }
                }

                .address-box-edit {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
        }
    }

}

.global-address-list {
    margin: 0 -2%;

    &.add-space .address-box {
        margin: 0 2.5% 25px;
    }

    .address-box {
        float: left;
        width: 45%;
        margin: 0 2.5%;
        border: solid 1px #cccccc;

        @include breakpoint($phablet) {
            width: 96%;
            text-align: left;
        }

        .title-wrapper {
            position: relative;
            float: left;
            padding: 10px 60px 0 10px;
            width: 100%;
            background-color: #eeeeee;
            font-family: $proximanova_medium;
            font-weight: 600;
            font-size: 15px;
            line-height: 30px;
            color: $black;

            .icon {
                position: absolute;
                top:15px;
                right: 15px;
                font-size: 18px;
                color: $black;
            }
        }

        .content-wrapper {
            float: left;
            width: 100%;
            min-height: 85px;
            padding: 0 10px 10px;
            color: $black;
            background-color: #eeeeee;
            font-family: $proximanovaA_regular;
            font-size: 13px;
            line-height: 20px;

            p {
                padding-bottom: 2px;
            }
        }

        .address-footer {
            position: relative;
            float: left;
            width: 100%;
            padding: 10px;

            .make-default {
                float: left;
                font-size: 14px;
                color: $black;
                height: 25px;

                .checkbox {
                    margin-right: 10px;
                }

                span {
                    display: inline-block;
                    line-height: 38px;
                }
            }

            .address-box-edit {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 12px;
                color: #666666;
                margin-top: 5px;

                i {
                    font-size: 16px;
                    margin-left: 5px;
                }
            }
        }
    }
}