/**
  My account css
 */

.my-account-container {
    @include centerfix;
    padding: 0 3%;

    .title {
        float: left;
        width: 100%;
        padding-bottom: 15px;
        font-size: 23px;
        font-family: $proximanova_regular;
        color: $black;
        letter-spacing: 1px;
    }

    /*My account sayfası*/
    .my-account-main-menu {
        @include breakpoint($small_desktop) {
            margin: 0 -2%;
        }

        .my-account-main-menu-item {
            float: left;
            width: 50%;
            padding: 0 2%;
            margin-bottom: 25px;

            @include breakpoint($phablet) {
                width: 100%;
            }

            a {
                position: relative;
                float: left;
                width: 100%;
                height: 150px;
                padding: 25px 6%;
                background-color: #efefef;

                i.icon {
                    position: absolute;
                    right: 5%;
                    top: 16px;
                }

                h3 {
                    float: left;
                    width: 100%;
                    font-size: 19px;
                    font-family: $proximanova_medium;
                    color: $black;
                    letter-spacing: 1px;
                    padding-bottom: 15px;
                }
                p {
                    float: left;
                    width: 90%;
                    line-height: 19px;
                    font-size: 13px;
                    font-family: $proximanova_regular;
                    color: $black;
                    letter-spacing: 0;
                }
            }
        }
    }
}

.add-cart-form {
    margin: 0 -2%;

    .form {
        margin: 0 -2%;
    }

    .cvv-desc {
        position: absolute;
        top: -15px;
        right: 0;
    }
}