/**
  Product detail css
 */

.product-detail-wrapper {
    .product-detail-left-wrapper {
        float: left;
        width: 100%;
        padding: 0 1%;

        @include minBreakpoint(1366px) {
            max-width: 1049px;
            padding: 0;
        }

        .left-column {
            float: left;
            width: 64%;

            @include breakpoint($small_desktop) {
                width: 59%;
            }

            @include breakpoint($phablet) {
                width: 100%;
            }
        }

        .right-column {
            float: right;
            width: 350px;

            @include breakpoint($small_desktop) {
                width: 300px;
            }
            @include breakpoint($phablet) {
                width: 100%;
            }
        }
    }

    /*PRODUCT IMAGES*/
    .zoomNavigator {
        display: none;
        background-color: #e8e8e8;
        border: solid 1px #cccccc;
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        filter: Alpha(Opacity=50);
        opacity: 0.5;
        height: 150px;
        width: 150px;
        z-index: 9999;
    }

    .contentZoomLarge {
        border: solid 1px #cccccc;
        padding: 0;
        top: 0;
        width: 400px;
        margin: 0;
        height: 400px;
        overflow: hidden;
        position: absolute;
        right: -400px;
        z-index: 100;

        .zoomLargeImgHolder {
            position: absolute;
            left: -550px;
            top: -550px;
            height: 1500px;
            width: 1500px;
        }
    }

    .product-image-wrapper {
        position: relative;
        float: left;
        width: 100%;
        padding-left: 81px;
        text-align: center;

        @include breakpoint($small_desktop) {
            padding: 0 0 100px 0;
        }

        .small-image-list {
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;

            @include breakpoint($small_desktop) {
                top: auto;
                bottom: 20px;
                width: 100%;

                li {
                    float: left;
                    margin-right: 5px;
                }
            }

            li {
                display: block;

                @include breakpoint($phablet) {
                   width: 15%;
                }

                .flex-active {
                    border: 1px solid #d7d6d6;

                    @include breakpoint($phablet) {
                        border: none;
                        border-bottom: 4px solid $black;
                        opacity: 1;
                    }
                }

                img {
                    float: left;
                    max-width: 100%;
                    border: 1px solid $white;

                    @include breakpoint($phablet) {
                        border: none;
                        border-bottom: 4px solid transparent;
                        opacity: 0.4;
                    }
                }
            }
        }

        .big-image {
            @include centerfix;
            text-align: center;

            img {
                float: right;
                max-width: 100%;
                cursor: zoom-in;
                
                @include breakpoint($phablet) {
                    float: none;
                }
            }
        }

        .image-popup-note {
            letter-spacing: 1px;
            font-size: 10px;
            color: #666666;
        }
    }

    /*PRODUCT DESCRIPTIONS*/
    .product-descriptions {
        .product-name-wrap {
            @include breakpoint($phablet) {
                display: none;
            }
        }
        .product-name {
            @include centerfix;
            font-family: $proximanova_regular;
            color: #333333;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 1px;
        }

        .product-price {
            @include centerfix;
            margin: 14px 0 4px;

            span {
                padding-right: 6px;
            }

            .old-price {
                color: #666666;
                font-size: 15px;
                letter-spacing: 0;
                line-height: 16px;
                font-family: $proximanova_regular;
                text-decoration: line-through;
            }

            .new-price {
                font-family: $proximanova_medium;
                color: #000000;
                font-size: 15px;
                letter-spacing: 0;
                line-height: 16px;

                &.shocked {
                    color: #f53d2a;
                }
            }
        }

        .promotion-holder {
            float: left;
            width: 100%;
            padding: 15px 0 0;
            color: #CC0000;
            font-size: 9pt;
        }

        .product-rate {
            margin-bottom: 15px;

            .total-count {
                display: inline-block;
                margin-left: 5px;
                font-weight: 600;
                font-size: 11px;
                color: #666666;
                line-height: 16px;
                text-decoration: underline;
            }
        }

        .product-color-picker {
            .field {
                color: #666666;
                float: left;
                font-size: 15px;
                font-weight: normal;
                letter-spacing: 0.5px;
                padding-right: 5px;
                font-family: $proximanova_regular;
                margin-bottom: 10px;
            }
            .value {
                letter-spacing: 0.5px;
                color: $black;
                float: left;
                font-size: 15px;
                text-transform: uppercase;
            }

            .color-list {
                @include centerfix();

                li {
                    float: left;
                    margin: 0 6px 6px 0;
                    border-bottom: 3px solid transparent;

                    &.active {
                        border-bottom-color: $black;
                    }

                    img {
                        width: 44px;
                        margin-bottom: 3px;
                    }
                }
            }
        }

        .product-size-wrap {
            margin-top: 7px;

            span {
                float: left;
                color: #666666;
                font-size: 15px;
                font-weight: normal;
                letter-spacing: 0.5px;
                padding-right: 5px;
                text-transform: lowercase;
                font-family: $proximanova_regular;

                &.value {
                    color: $black;
                    float: left;
                    text-transform: uppercase;
                }
            }

            a.link {
                float: right;
                text-decoration: underline;
                font-size: 10px;
                letter-spacing: 1px;
                color: #333333;
                padding-right: 4px;
            }

            .size-list {
                @include centerfix;
                margin-top: 5px;

                li {
                    float: left;
                    width: 46px;
                    height: 46px;
                    margin: 0 4px 4px 0;
                    border: 1px solid #999999;
                    text-align: center;
                    line-height: 44px;
                    letter-spacing: 0.5px;
                    color: #666666;
                    font-size: 15px;
                    font-family: $proximanova_regular;
                }
            }
        }

        .add-to-cart-button-holder {
            padding-top: 25px;
        }

        .validation-error-block {
            @include centerfix();
            height: 30px;
        }

        .add-to-bag-button {
            font-size: 12pt;
            margin-top: 0;

            &.disabled {
                background-color: #999999;
                border-color: #999999;
                cursor: default;
            }
        }
    }


    .product-description-holder {
        margin: 30px 0 60px;

        .left-desc {
            float: left;
            width: 100%;

            @include minBreakpoint($small_desktop) {
                width: 64%;
            }
        }

        .product-fan-images {
            position: relative;
            float: left;
            max-width: 360px;
            width: 100%;
            text-align: center;
            padding: 0 20px;

            @include breakpoint($phablet) {
                margin: 30px 0;
                padding: 10px 30px;
                border: 1px solid $black;
            }

            .curalate-upload-photos {
                @include center(true, false);
                top: -25px;
                display: inline-block;
                font-family: Arial, Helvetica, sans-serif;
                border-bottom: 1px solid $black;
                font-size: 12px;
                color: $black;

                @include breakpoint($phablet) {
                    position: relative;
                    top: 0;
                    float: left;
                    margin-bottom: 10px;
                }

                &::before {
                    display: inline-block;
                    margin-right: 1px;
                    content: "+";
                    vertical-align: 10%;
                    font-size: 12px;
                }
            }

            .flexslider {
                width: 100%;

                img {
                    max-width: 100%;
                }
            }
        }

        .product-details-block {
            float: right;
            width: 41%;
            padding-left: 20px;

            @include breakpoint($phablet) {
                width: 100%;
                padding: 0;
                margin-bottom: 30px;
            }

            .detail-list {
                float: left;
                width: 100%;
                color: $black;
                font-size: 13px;
                line-height: 25px;
                list-style: disc;
                list-style-position: inside;
            }

            .detail-link {
                color: $black;
                float: left;
                font-size: 13px;
                padding-top: 20px;
                text-decoration: underline;
                width: 100%;
                line-height: 21px;
            }
        }

        .product-desc {
            float: right;
            width: 350px;

            @include breakpoint($phablet) {
                width: 100%;
                margin-bottom: 30px;
            }

            p {
                color: $black;
                float: left;
                font-style: italic;
                font-size: 16px;
                width: 100%;
                line-height: 28px;
                font-family: $proximanova_regular;
                letter-spacing: 1px;
            }
        }
    }

    .recommendation-wrapper {
        margin-top: 25px;
        border: none;
        border-top: 1px solid #c9c9c9;

        .recommendation-wrapper-title {
            margin-left: 0;
            font-size: 15px;
            letter-spacing: 0.42px;
            line-height: 19px;
        }

        &.product-detail-reco {
            @include minBreakpoint(1366px) {
                position: absolute;
                right: 10px;
                width: 225px;
                margin-top: 0;
                border: 1px solid #c9c9c9;

                .recommendation-wrapper-title {
                    font-size: 15px;
                    letter-spacing: 0.42px;
                    line-height: 19px;
                }

                img {
                    width: 115px;
                }

                .reco-product-list {
                    li {
                        width: 100%;
                    }
                }
            }
        }

        &.product-detail-reco-2 {
            .reco-product-list {
                li {
                    position: relative;
                    width: 10%;
                    margin-right: 2.8%;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        .product-item-detail {
                            display: block;
                        }
                    }
                }
            }
            .product-item-detail {
                float: left;
                width: 100%;
                background: rgba(239,239,239,0.85);
                position: absolute;
                top: 40%;
                display: none;
                height: auto;

                .product-item-product-name {
                    color: $black;
                    float: left;
                    font-size: 10px;
                    width: 100%;
                    letter-spacing: 0.5px;
                    padding: 0 0 5px 0;
                }
            }
        }

    }

    .review-avarega {
        float: left;
        border: 1px solid $black;
        border-radius: 3px;
        display: inline-block;
        background: $black;
        padding: 0 6px;
        height: 17px;
        color: $white;
        font-size: 14px;
        line-height: 16px;
        margin-right: 10px;
    }

    .product-reviews-wrapper {
        margin: 50px 0;
        padding: 0 10px;

        .title--primary {
            @include breakpoint($phablet) {
                font-size: 36px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }

        .review-header {
            margin-bottom: 20px;

            .product-rate-wrap {
                float: left;

                .product-rate {
                    width: auto;
                    margin-right: 10px;
                }

                .note {
                    float: left;
                    font-size: 12px;
                    padding-top: 4px;
                    color: $black;
                }

            }

            .write-a-review-link {
                font-size: 15px;
                color: $white;
                background-color: $black;
                padding: 3px 25px;
                float: right;

                @include breakpoint($phablet) {
                    width: 100%;
                    margin: 15px 0;
                    text-align: center;
                    font-size: 19px;
                    padding: 0;
                    height: 45px;
                    letter-spacing: 1px;
                    line-height: 50px;
                }
            }
        }
        .pr-review-points-attr-wrapper {
            float: left;
            width: 300px;
            margin-bottom: 40px;

            h4 {
                color: $black;
                font-size: 14px;
                margin-bottom: 15px;

                @include breakpoint($phablet) {
                    background: #EFEFEF;
                    height: 40px;
                    line-height: 40px;
                    margin-bottom: 15px;
                    padding-left: 4%;
                    font-size: 16px;
                    color: #666;
                }
            }

            .distribution-list {
                float: left;
                width: 100%;

                li {
                    float: left;
                    width: 100%;
                    margin-bottom: 9px;

                    span {
                        float: left;
                        color: #666;

                        &.rating-text {
                            width: 55px;
                            font-size: 12px;
                        }

                        &.rating-line {
                            width: 215px;
                            padding: 3px 0;
                            border-radius: 2px;
                            background: #f6f6f6;

                            i {
                                float: left;
                                height: 10px;
                                background: #999999;
                                border-radius: 2px;
                            }
                        }

                        &.rating-count {
                            width: 30px;
                            text-align: right;
                            font-size: 11px;
                        }
                    }
                }
            }

        }

        .review-list {
            .review-list-header {
                background: #f6f6f6;
                text-align: center;
                padding: 15px;
                margin-bottom: 20px;
                width: 100%;

                .description {
                    float: left;
                    font-size: 14px;
                    font-family: $proximanova_medium;
                    font-weight: 700;
                    color: #303533;
                    line-height: 1.2;
                    margin-top: 6px;

                    @include breakpoint($phablet) {
                        font-size: 16px;
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }

                .filter-box {
                    float: right;
                    font-size: 14px;
                    font-family: $proximanova_medium;
                    font-weight: 700;
                    color: #303533;
                    line-height: 1.2;

                    @include breakpoint($phablet) {
                        width: 100%;
                    }

                    select {
                        margin-left: 7px;
                        background: $white;
                    }
                }
            }

            .list {
                > li {
                    @include centerfix();
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    font-family: $proximanova_medium;
                    border-bottom: 1px solid #ccc;

                    .pr-review-author {
                        float: left;
                        width: 20%;
                        margin-right: 5%;

                        @include breakpoint($phablet) {
                            width: 100%;
                            display: none;
                            margin: 20px 0;
                        }

                        .pr-review-author-info-wrapper {
                            margin-bottom: 20px;

                            p {
                                font-size: 14px;
                                font-weight: 700;
                                color: #303533;
                                line-height: 1.2;

                                @include breakpoint($phablet) {
                                    width: 100%;
                                    margin: 3px 0;
                                }

                                span {
                                    padding-left: 3px;
                                    font-size: 10px;
                                    color: #666;
                                    font-weight: 400;

                                    @include breakpoint($phablet) {
                                        font-size: 9pt;
                                    }
                                }
                            }
                        }
                    }

                    .pr-review-content {
                        float: left;
                        width: 75%;

                        @include breakpoint($phablet) {
                            position: relative;
                            width: 100%;
                            padding-top: 30px;

                            .pr-review-author {
                                display: block;
                            }
                        }

                        .product-rate {
                            float: left;
                            width: auto;
                            margin-right: 10px;
                        }

                        .review-date {
                            float: right;
                            border: 1px solid #ccc;
                            border-radius: 2px;
                            display: inline-block;
                            background: $white;
                            padding: 0 6px;
                            margin-bottom: 10px;
                            font-size: 14px;
                            color: #666;
                            line-height: 24px;

                            @include breakpoint($phablet) {
                                position: absolute;
                                left: 0;
                                top: -40px;
                            }
                        }

                        .comment-title {
                            font-size: 20px;
                            font-weight: 700;
                            color: #303533;
                            line-height: 1.2;
                        }

                        p {
                            clear: both;
                            margin-bottom: 20px;
                            font-size: 14px;
                            color: #666;
                            line-height: 1.5;
                        }

                        .user-comment-detail {
                            float: left;
                            width: 100%;

                            li {
                                float: left;
                                width: 100%;
                                margin-bottom: 5px;

                                span {
                                    float: left;
                                    line-height: 1.5;
                                    font-size: 14px;

                                    &.field {
                                        width: 27%;
                                        color: $black;
                                    }

                                    &.value {
                                        width: 73%;
                                        color: #666;
                                    }
                                }
                            }
                        }

                        .comment-img-wrap {
                            margin-top: 15px;
                            .about {
                                float: left;
                                width: 100%;
                                font-size: 14px;
                                color: #666;

                                b {
                                    font-size: 10px;
                                    padding-left: 4px;
                                }
                            }

                            img {
                                margin-top: 20px;
                                border: 1px solid #ccc;
                                border-radius: 2px;
                                margin-bottom: 5px;
                                display: inline-block;
                                padding: 2px;
                            }
                        }


                    }

                    .pr-review-footer {
                        margin-top: 20px;

                        span {
                            @include centerfix;
                        }

                        .pr-review-helpful-text {
                            font-size: 14px;
                            font-weight: 700;
                            color: #303533;

                            a {
                                color: #cc3300;
                                padding: 0 3px;
                            }
                        }

                        .pr-review-report-issue {
                            font-size: 14px;
                            color: #666;
                            line-height: 1.5;

                            a {
                                color: #cc3300;
                                padding: 0 3px;
                            }
                        }
                    }
                }
            }

            .pr-pagination-bottom {
                border-bottom: 1px solid #ccc;
                padding-top: 20px;
                margin-bottom: 20px;
                padding-bottom: 20px;

                @include breakpoint($phablet) {
                    text-align: center;
                    padding-top: 0;
                }

                .pr-page-count-wrapper {
                    display: inline-block;
                    font-size: 14px;
                    color: #666;
                    line-height: 1.5;
                }
                .back-to-top {
                    display: inline-block;
                    font-size: 14px;
                    color: #cc3300;
                    line-height: 1.5;
                    margin: 0 6px;
                }

                .pr-page-nav-wrapper {
                    float: right;
                    color: #666666;

                    @include breakpoint($phablet) {
                        width: 100%;
                        text-align: center;
                    }

                    a {
                        color: #cc3300;
                        padding: 0 3px;
                        &.disabled {
                            color: #666666;
                        }
                    }
                }
            }
        }

    }



}