/**
  Product item css
 */

.product-item {
    display: inline-block;
    width: 25%;
    min-height: 470px;
    padding: 0 2%;

    @include breakpoint($phablet) {
        width: 50%;
    }

    @include breakpoint($mobile) {
        min-height: 350px;
    }

    &.wishlist {
        min-height: 300px;
        text-align: center;
        margin-bottom: 40px;

        .product-item-product-name {
            text-align: center;
            padding-bottom: 5px;
        }

        .product-item-price {
            margin: 0 0 5px;
            .new-price {
                font-size: 10px;
            }
        }
    }

    &.recommendation {
        min-height: inherit;
        text-align: center;

        .product-item-product-name {
            text-align: center;
            margin-top: 10px;

            a {
                font-family: $proximanovaA_medium;
            }
        }

        .product-item-price {
            margin: 0 0 5px;
            .new-price {
                font-family: $proximanovaA_medium;
                font-size: 12px;
                letter-spacing: 0.5px;
                color: #666666;
            }
        }
    }

    &-image {
        @include centerfix;

        img {
            max-width: 100%;
        }

        .special-badge {
            position: absolute;
            right: 0;
            top: 9px;
            max-width: 60px;
            max-height: 60px;
            margin: 0;
            text-align: right;

            img {
                width: auto;
                max-width: 60px;
            }
        }
    }

    &-color-chips {
        @include centerfix;
        margin: 5px 0 15px;

        li {
            float: left;
            margin-right: 5px;
            border-bottom: 2px solid transparent;
            padding-bottom: 2px;
            cursor: pointer;

            &.active:not(.more), &:not(.more):hover {
                border-bottom: 2px solid $black;
            }

            &.more {
                font-family: $proximanova_regular;
                line-height: 20px;
                width: 22px;
                text-align: center;
                font-size: 14px;
                color: #666666;

                a {
                    color: #666666;
                }
            }
        }
    }

    &-detail {
        @include centerfix;
        height: 80px;
    }

    &-product-name {
        @include centerfix;
        line-height: 14px;

        a {
            color: $black;
            font-family: $proximanova_regular;
            font-size: 12px;
            letter-spacing: 0.6px;
        }
    }

    &-price {
        @include centerfix;
        margin: 8px 0 4px;

        span {
            padding-right: 6px;
        }

        .old-price {
            color: #666666;
            font-size: 15px;
            letter-spacing: 0;
            line-height: 16px;
            font-family: $proximanova_regular;
            text-decoration: line-through;
        }

        .new-price {
            font-family: $proximanova_medium;
            color: #000000;
            font-size: 15px;
            letter-spacing: 0;
            line-height: 16px;

            &.shocked {
                color: #f53d2a;
            }
        }
    }

    &-promo-text {
        @include centerfix;
        margin-top: 3px;
        font-family: $proximanova_regular;
        color: #f53d2a;
        font-size: 11px;
        letter-spacing: 0;
        line-height: 13px;
    }

    &-skus {
        @include centerfix;
        font-size: 11px;
        color: $black;
    }

    &-add-to-bag {
        display: inline-block;
        width: 80%;
        background-color: $black;
        font-family: $proximanova_regular;
        color: $white;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 4px 0 3px;
    }
}



.product-rate {
    @include centerfix;
    margin-bottom: 10px;

    span {
        background: url('../img/review-sprite.svg') no-repeat 0 0;
        float: left;
        font-size: 0;
        height: 18px;
        overflow: hidden;
        width: 95px;

        &.rate-0 { background-position: -95px -19px; }
        &.rate-1 { background-position: -76px -19px; }
        &.rate-1-5 { background-position: -76px 0; }
        &.rate-2 { background-position: -57px -19px; }
        &.rate-2-5 { background-position: -57px 0; }
        &.rate-3 { background-position: -38px -19px; }
        &.rate-3-5 { background-position: -38px 0; }
        &.rate-4 { background-position: -19px -19px; }
        &.rate-4-5 { background-position: -19px 0; }
        &.rate-5 { background-position: 0 -19px; }
    }
}