/**
  Product list css
 */

.product-list-wrapper {
    padding: 15px 0;
}

.breadcrumb-wrapper {
    margin-bottom: 25px;
}

.breadcrumb {
    float: left;
    text-align: center;

    a {
        color: $black;
        font-weight: normal;
        font-size: 13px;
        padding-right: 1px;
        font-family: $proximanova_regular;
        letter-spacing: 1px;

        @include breakpoint($phablet) {
            letter-spacing: 0;
        }

        &::after {
            content: "/";
            margin: 0 5px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &:last-child {
            color: #999999;
        }
    }
}

.product-count {
    float: left;
    padding-left: 40px;
    color: $black;
    font-family: $proximanova_regular;
    font-size: 13px;

    @include breakpoint($phablet) {
        font-size: 10pt;
        padding-left: 20px;
    }
}

.product-list {
    margin: 0 -10px;

    @include breakpoint($phablet) {
        margin: 0;
    }
}

.filter-select-wrapper {
    margin: 15px 0 30px;

    > .mobile-filter-select {
        display: none;

        @include breakpoint($tablet) {
            display: block;
            width: 49% !important;
        }
    }

    .mobile-filter-select-list {
        display: block;

        @include breakpoint($tablet) {
            @include centerfix;
            display: none;

            .dropdown {
                position: relative;
            }
        }
    }

    .custom-select-3 {
        width: 154px;
        margin-right: 5px;

        @include breakpoint($tablet) {
            &:not(.sort-type-select) {
                width: 100%;
                margin-right: 0;
            }
        }
    }

    .sort-type-select {
        float: right;
        margin-right: 0;

        @include breakpoint($tablet) {
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 49% !important;
        }

        .field {
            background-color: #efefef;
            border-color: #efefef;

            &.active {
                background-color: $white;

                &::after {
                    background-image: url("../img/icon-close-2-white.png");
                }
            }
            
            &::after {
                background-image: url("../img/icon-arrow_down-2_grey.png");
            }
        }

        .dropdown {
            background-color: $white;
            border: 1px solid #d9d9d9;
            border-top-color: transparent;
        }
    }

    .filter-single-list {
        float: left;
        width: 122px;

        @include breakpoint($tablet) {
            width: 100%;
        }

        li {
            float: left;
            background-color: $white;
            width: 100%;
            height: 40px;
            border: solid 1px #999999;
            text-align: center;
            color: $black;
            font-family: $proximanova_regular;
            font-size: 12px;
            letter-spacing: 0.42px;
            margin: 0 5px 5px 0;
            line-height: 41px;
            cursor: pointer;
        }
    }

    .filter-size-list {
        float: left;
        width: 285px;

        @include breakpoint($tablet) {
            width: 100%;
        }

        li {
            float: left;
            background-color: $white;
            width: 63px;
            height: 40px;
            border: solid 1px #999999;
            text-align: center;
            padding: 0;
            color: $black;
            font-family: $proximanova_regular;
            font-size: 11px;
            letter-spacing: 0.42px;
            margin: 0 5px 5px 0;
            line-height: 41px;
            cursor: pointer;
        }
    }

    .filter-color-list {
        float: left;
        width: 325px;

        @include breakpoint($tablet) {
            width: 100%;
        }

        li {
            float: left;
            width: 70px;
            text-align: center;
            color: $black;
            font-family: $proximanova_regular;
            font-size: 12px;
            letter-spacing: 0.42px;
            cursor: pointer;
            margin: 0 10px 20px 0;

            .color {
                @include centerfix;
                height: 25px;
                margin-bottom: 10px;
            }

            .name {
                @include centerfix;
            }
        }
    }

    .filter-sort-list {
        margin: 0 -15px;

        li {
            float: left;
            background-color: $white;
            width: 100%;
            color: $black;
            font-family: $proximanova_regular;
            font-size: 12px;
            padding: 5px 5px 5px 15px;
            cursor: pointer;

            &:hover {
                background-color: #efefef;
            }
        }
    }
}