- var prefix = "/output/public/dist/";
- var urlPrefix = "/output/";
<!DOCTYPE html>
html
	head
		block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= title
		meta(name="description", content=description ? description : "")
		meta(name="keywords", content=keywords ? keywords : "")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="theme-color", content="#ffffff")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/x-icon", href="assets/dist/img/favicon/favicon.ico")
		// link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")
		// link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")
		// link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")
		link(rel="stylesheet", href=prefix + "css/style.css")

	body
		if (!isCheckout)
			.header-top-campaign
				a.header-top-campaign__campaign-link(href="#") BUY 3, GET 40% OFF | BUY 2, GET 30% OFF | BUY 1, GET 20% OFF
				a.header-top-campaign__detail-link(href="#", data-toggle="campaign-box") *Details
		header(class=isCheckout ? "checkout-header" : "")
			.header-wrapper
				.header-container
					.header-signup-msg-box
						a(href=urlPrefix + "login-signup.html")
							span Free Shipping on $75+
							span |
							span Free Shipping for all Nine loves members
							span.underline Sign Up

					ul.header-util-menu
						li.hidden-xs
							a.header-language(href="#")
								img(src="http://www.ninewest.com/on/demandware.static/Sites-ninewest-Site/-/default/v1507003735760/images/flags/US.gif")
								i.icon.icon-arrow-down

						li.account-li.hidden-xs
							a.my-account(href="#") MY ACCOUNT
							ul.header-util-menu__sub-menu
								li
									a(href="#") MY ACCOUNT
								li
									a(href="#") NINE LOVES REWARDS
								li
									a(href="#") ORDERS

						li.account-li.hidden-xs
							a.my-account(href="#") JAME'S ACCOUNT
							ul.header-util-menu__sub-menu.login-user-menu
								li.sign-out
									a(href="#") SIGN OUT
								li
									a(href=urlPrefix + "my-account.html") MY ACCOUNT
								li
									a(href=urlPrefix + "my-account_profile.html") PROFILE
								li
									a(href=urlPrefix + "my-account.html") NINE LOVES REWARDS
								li
									a(href=urlPrefix + "my-account_orders.html") ORDERS
								li
									a(href=urlPrefix + "my-account_wishlist.html") WISHLIST
								li
									a(href=urlPrefix + "my-account_address-book.html") ADDRESS BOOK
								li
									a(href=urlPrefix + "my-account_wallet.html") WALLET

						li.mobile-search
							a.toggle-button(href="#" class="icon-search-2")
							.mobile-search-box
								form
									input.search-input(type="text", name="search", placeholder="SEARCH BY KEYWORD")
									button.close-button(type="button")
										i.icon-close

						li.basket-li
							a(href=urlPrefix + "basket.html" class="icon-basket") 1

					div.header-logo
						a(href="index.html")
							img(src=prefix + "/img/header/ninewest_logo.png")
					if(!isCheckout)
						button.mobile-menu-toggle(data-open="mainMenu", data-toggle="mainMenu")
						.mobile-menu-overlay(data-open="mainMenu", data-toggle="mainMenu")
						nav.header-nav(data-open="mainMenu")
							ul
								- var menu = ["NEW", "SHOES", "HEELS", "BOOTS & BOOTIES", "FLATS", "BAGS & ACCESSORIES", "SALE"];
								- for(item in menu)
									li
										a(href="#")= menu[item]
										i.mobile-menu-arrow
										.header-nav__sub-menu
											ul
												li
													a(href=urlPrefix + "product-list.html") New Arrivals
												li
													a(href=urlPrefix + "product-list.html") Boot Guide
												li
													a(href=urlPrefix + "product-list.html") Modern Opulence
												li
													a(href=urlPrefix + "product-list.html") Military Luxe
												li
													a(href=urlPrefix + "product-list.html") Kitten Heels
												li
													a(href=urlPrefix + "product-list.html") Girls & Baby

											img(src="http://www.ninewest.com/on/demandware.static/-/Sites-ninewest-Library/default/v1507003735760/images/header/top_nav/spring2017/2017.08.16/nw__drop_New.gif")

							.header-nav__bottom-link.visible-xs.visible-sm
								a(href="#") FIND A STORE
								a(href="#") ACCOUNT
								a(href="#") ORDERS
								a(href="#") NINE LOVES REWARDS

						<!-- SEARCH BAŞLANGIÇ -->
						.search-box
							form
								input(type="text", name="search", placeholder="search")
								button(type="submit")
									i.icon-search-2
						<!-- SEARCH BİTİŞ -->
					else
						.header-logo-sub-title CHECKOUT
						.header-callcenter Customer Service 1-800-999-1877

		main
			block content

		footer
			.footer-container
				ul.footer-social-list
					li
						a.fb(href="https://www.facebook.com/ninewest?ep_tag=ZT_FBFTR" target="_blank") Facebook
					li
						a.in(href="https://instagram.com/ninewest/?ep_tag=ZT_INSTAFTR" target="_blank") Instagram
					li
						a.pi(href="https://www.pinterest.com/ninewestfashion/?ep_tag=ZT_PINFTR" target="_blank") Pinterest
					li
						a.yt(href="https://www.youtube.com/user/channelninenetwork?ep_tag=ZT_YTFTR" target="_blank") Youtube
					li
						a.tw(href="https://twitter.com/ninewest?ep_tag=ZT_TWRFTR" target="_blank") Twitter
					li
						a.gp(href="https://plus.google.com/u/0/+NineWest/posts?ep_tag=ZT_GPLUSFTR" target="_blank") Google+

				.centerfix
					.footer-newsletter
						form
							input(type="text", placeholder="SIGN UP FOR EMAILS")
							button(type="submit", value="SUBMİT")

				.footer-nav.footer-nav--desktop
					ul.footer-nav-list
						li.footer-nav-list__title
							h3 ABOUT NINE WEST
						li
							a(href="#") Company Info
						li
							a(href="#") About Us
						li
							a(href="#") Privacy Policy (Updated 2017)
						li
							a(href="#") Terms of Use (Updated 2017)
						li
							a(href="#") Careers
						li
							a(href="#") California Transparency in Supply Chains Act Statement

					ul.footer-nav-list
						li.footer-nav-list__title
							h3 CUSTOMER SERVICE
						li
							a(href="#") FAQ
						li
							a(href="#") Easy Online Returns
						li
							a(href="#") Size Charts
						li
							a(href="#") Site Map
						li
							a(href="#") Glossary
						li
							a(href="#") Contact Us

					ul.footer-nav-list
						li.footer-nav-list__title
							h3 STORES
						li
							a(href="#") Store Locator

					ul.footer-nav-list
						li.footer-nav-list__title
							h3 SERVICES
						li
							a(href="#") Student Discount
						li
							a(href="#") Gift Cards/Check Balance
						li
							a(href="#") Nine Loves Rewards Program
						li
							a(href="#") Watch Warranty
						li
							a(href="#") Mobile




				<!-- FOOTER MOBILE NAV BAŞLANGIÇ -->
				.footer-nav.footer-nav--mobile
					ul.footer-nav-list
						li.footer-nav-list__title
							h3 ABOUT NINE WEST
						li
							a(href="#") Nine Loves Rewards
						li
							a(href="#") Privacy Policy
						li
							a(href="#") Terms of Use
						li
							a(href="#") Store Locator

					ul.footer-nav-list
						li.footer-nav-list__title
							h3 CUSTOMER SERVICE
						li
							a(href="#") Returns/Exchanges
						li
							a(href="#") Shipping/Tracking
						li
							a(href="#") Contact Us
						li
							a(href="#") View Full Site
				<!-- FOOTER MOBILE NAV BİTİŞ -->
				.footer-copyright © 2017 Nine West. All rights reserved.

				.footer-seo-menu
					a(href="#") Heels
					a(href="#") Flats
					a(href="#") Wedges
					a(href="#") Sandals
					a(href="#") Special Occasion Shoes
					a(href="#") Handbags
					a(href="#") Girls & Baby
					a(href="#") Watches
					a(href="#") Sunglasses
					a(href="#") Sale

		<!-- HEADER CAMPAIGN DETAIL MODAL BAŞLANGIÇ -->
		section.header-campaign-modal(data-open="campaign-box")
			a.header-campaign-modal__close-btn(href="#", data-toggle="campaign-box") X
			.header-campaign-modal__content
				p Buy 3 get 40% off, Buy 2 get 30% off, Buy 1 get 20% off offer is valid between 9/28/2017 12:00AM EST and 10/04/2017 11:59PM EST or while supplies last at www.ninewest.com only. Discount at checkout. Offer not valid on pre-order, kids, or select styles. Cannot be combined with any other coupon or discount offer. May be combined with any online shipping offer. Offer not valid at Nine West stores, department stores or independent retailers. Not valid on previous purchases or for purchase of gift cards. Regular prices are offering prices and may not be based on actual sales. Some original prices may not have been in effect for the past 90 days or in all areas. Intermediate markdowns may have been taken. Not redeemable for cash or store credit. We reserve the right to terminate this offer if it becomes technically compromised in any way. Free standard shipping on all orders of $75. Shipping within the United States (excludes Alaska, Hawaii and U.S. Territories) for internet and phone orders only. Qualifying purchases amount includes merchandise only, does not include taxes, gift cards or previous purchases and must be met after any coupons or discounts are applied.

		<!-- HEADER CAMPAIGN DETAIL MODAL BİTİŞ -->

		<!-- BACK TO TOP -->
		a(href="#", id="back-to-top")

		script(type="text/javascript", src=prefix + "js/bundle.js")
		script(type="text/javascript", src=prefix + "js/main.js")
		block scripts