/*flexslider css*/

.flexslider {
    @include centerfix;

    .flex-direction-nav {
        @include center(false, true);
        width: 100%;

        li {
            position: absolute;
            top: 0;

            &.flex-nav-prev {
                left: -20px;
            }

            &.flex-nav-next {
                right: -20px;
            }

            .flex-disabled {
                display: none;
            }

            a {
                display: inline-block;
                text-indent: -9999px;
                width: 12px;
                height: 21px;

                &.flex-prev {
                    background: url("../img/icon-arrow_left.gif") no-repeat;
                }

                &.flex-next {
                    background: url("../img/icon-arrow_right.gif") no-repeat;
                }
            }
        }
    }

    .flex-viewport {
        @include centerfix;
    }
}