/*icon css*/

.icon {
    display: inline-block;
}

.icon-arrow-down {
    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: $white;
        vertical-align: middle;
    }
}

.icon-search-2 {
    &::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-image: url('../img/header/icon-search.svg');
    }
}

.icon-arrow-down-2 {
    &::after {
        content: "";
        display: inline-block;
        width: 22px;
        height: 11px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-image: url('../img/icon-down_arrow-2.png');
    }
}

.icon-arrow-down-3 {
    &::after {
        content: "";
        display: inline-block;
        width: 22px;
        height: 11px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-image: url('../img/icon-down_arrow-3.png');
    }
}

.icon-arrow-right {
    &::after {
        content: "";
        display: inline-block;
        width: 22px;
        height: 11px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-image: url('../img/icon-down_arrow-2.png');
        transform: rotate(-90deg);
    }
}

.icon-close-2 {
    &::after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 17px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-image: url('../img/icon-close-15.png');
    }
}

.icon-pencil {
    &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-image: url('../img/icon-pencil.png');
    }
}