/*Button css*/
.button {
	display: inline-block;
	transition: all $animation_speed $animation_easing;

	i.icon {
		margin: 0 5px;
	}

	&--block {
		display: block;
	}

	&--black {
		border: solid 1px $black;
		background-color: $black;
		color: $white;
		height: 45px;
		margin-top: 20px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		font-family: $proximanova_regular;
		font-size: 19px;
		letter-spacing: 1px;
		outline: none;
	}

	&--white {
		border: solid 1px $black;
		cursor: pointer;
		float: left;
		background-color: $white;
		color: $black;
		height: 45px;
		text-align: center;
		width: 100%;
		font-family: $proximanova_regular;
		font-size: 19px;
		letter-spacing: 1px;
	}

	&--black-17 {
		border: solid 1px $black;
		background-color: $black;
		color: $white;
		height: 45px;
		margin-top: 20px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		font-family: $proximanova_regular;
		font-size: 17px;
		letter-spacing: 1px;
		outline: none;
	}

	&--gray {
		background-color: #ccc;
		color: $black;
		height: 45px;
		text-align: center;
		width: 100%;
		font-family: $proximanovaA_regular;
		font-size: 16px;
		letter-spacing: 1px;
		outline: none;
	}

	&--shadow {
		box-shadow: 2px 2px 2px 0 #ddd;
	}

	&--link {
		line-height: 45px;
	}

	&--no-width {
		width: auto;
		padding: 0 10px;
	}

	&--add-to-wishlist {
		width: 161px;
		height: 19px;
		background: url("../img/add-to-wishlist.svg") top center no-repeat;
	}
}