/*Custom checkbox and radio css*/
.checkbox {
	position: relative;
	float: left;
	width: 25px;
	height: 25px;
	background-color: #fff;

	input{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		margin: 0;
    	cursor: pointer;

		&:checked + label {
			display: block;
			background: url('../img/checkbox_checked.png') bottom center no-repeat;
			border: none;
		}
	}
	label {
		display: block;
		width: 25px;
		height: 25px;
		border: 1px solid #999999;
	}
}

.checkbox-label {
	float: left;
	font-size: 14px;
	color: $black;
	height: 25px;

	.checkbox {
		margin-right: 10px;
	}

	span {
		display: inline-block;
		line-height: 38px;
	}
}

.checkbox-label-gray {
	float: left;
	height: 25px;
	font-size: 12px;
	color: #666666;
	font-family: $proximanovaA_regular;

	.checkbox {
		margin-right: 10px;
	}

	span {
		display: inline-block;
		line-height: 38px;
	}
}


/*Custom select*/
$height: 43px;

.select {
	position: relative;
	float: left;
	width: 100%;
	height: $height;
	border: 1px solid #999999;
	overflow: hidden;

	&::after {
		@include center(false, true);
		right: 10px;
		content: "";
		width: 22px;
		height: 11px;
		background-repeat: no-repeat;
		background-image: url('../img/icon-down_arrow-2.png');
	}
	  
	&.open:after{
		border-color: transparent transparent #000;
		margin-top: -10px;
	}

	select {
		@include centerfix;
		height: $height;
		background: transparent;
		border: none;
		width: 150%;
		padding-right: 50%;
		outline: none;
	}
}

.select-2 {
	position: relative;
	float: left;
	width: 100%;
	height: $height;
	border: 1px solid #999999;
	overflow: hidden;

	&::after {
		@include center(false, true);
		right: 10px;
		content: "";
		width: 22px;
		height: 11px;
		background-repeat: no-repeat;
		background-image: url('../img/icon-down_arrow-2.png');
	}

	&.open:after{
		border-color: transparent transparent #000;
		margin-top: -10px;
	}

	select {
		@include centerfix;
		height: $height;
		background: transparent;
		border: none;
		width: 150%;
		padding-right: 50%;
		outline: none;
		color: #666;
		font-size: 14px;
		font-family: $proximanovaA_regular;
	}
}

.custom-select-2 {
	position: relative;
	float: left;
	width: 100%;
	height: 45px;
	border: 1px solid #999999;

	.field {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0 60px 0 15px;
		font-size: 14px;
		font-family: $proximanovaA_regular;
		line-height: 45px;
		color: $black;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		span {
			margin-left: 5px;
		}

		&::after {
			@include center(false, true);
			right: 10px;
			content: "";
			width: 22px;
			height: 11px;
			background-repeat: no-repeat;
			background-image: url('../img/icon-down_arrow-2.png');
		}
	}

	.dropdown {
		display: none;
		position: absolute;
		top: 100%;
		right: -1px;
		left: -1px;
		z-index: 999;
		margin: 0 0;
		padding: 15px 0;
		list-style: none;
		border: 1px solid #999;
		background-color: $white;
		max-height: 168px;
		overflow-y: scroll;

		&.active {
			display: block;
		}

		ul {
			@include centerfix;

			li {
				@include centerfix;

				a {
					display: block;
					padding: 0 15px;
					line-height: 30px;
					font-size: 14px;
					font-family: $proximanovaA_regular;
					color: $black;

					&.active, &:hover {
						background-color: #efefef;
					}
				}
			}
		}
	}
}

.custom-select-3 {
	position: relative;
	float: left;
	width: 100%;
	min-height: 35px;

	.field {
		position: relative;
		display: block;
		width: 100%;
		height: 35px;
		border: 1px solid #d9d9d9;
		padding: 0 0 0 15px;
		font-size: 12px;
		font-family: $proximanova_medium;
		line-height: 35px;
		color: $black;
		cursor: pointer;

		&.active {
			background-color: #efefef;
			height: 105%;
			border-color: #efefef;
			
			&::after {
				width: 12px;
				height: 12px;
				background-image: url("../img/icon-close-2.png");
			}
		}

		span {
			margin-left: 5px;
		}

		&::after {
			@include center(false, true);
			right: 10px;
			content: "";
			width: 13px;
			height: 8px;
			background-repeat: no-repeat;
			background-image: url('../img/icon-down_arrow-3.png');
		}
	}

	.dropdown {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 999;
		margin: 0 0;
		list-style: none;
		overflow-y: scroll;
		background-color: #efefef;
		border-color: transparent;
		padding: 15px;
		min-width: 100%;

		&.active {
			display: block;
		}
	}
}