/*form css*/
.input {
	display: inline-block;
	transition: all $animation_speed $animation_easing;

	&--block {
		display: block;
	}

	&--primary {
		border: solid 1px #999999;
		float: left;
		height: 43px;
		outline: none;
		padding: 0 4%;
		vertical-align: middle;
		width: 100%;
		font-family: $proximanova_medium;
		font-size: 14px;
		color: $black;
		letter-spacing: 0.5px;
	}

	&--textarea {
		padding-top: 10px;
		height: 100px;
		border-color: $black;
	}
}

.form {
	&.form-row {
		margin: 0 -2%;

		.form__input-group,
		.form__input-group--half {
			padding: 0 2% 25px;
			margin-bottom: 0;
		}
	}

	.sub-note {
		padding-top: 15px;
		font-family: $proximanova_regular;
		font-size: 12px;
		line-height: 16px;
		color: $black;
	}
	&__input-group {
		@include centerfix;
		margin-bottom: 25px;

		&--birth-day {
			float: left;
			width: 38%;
			margin-right: 2%;
		}

		&--birth-month {
			float: left;
			margin-left: 2%;
			width: 58%;
		}

		&--cvv {
			position: relative;
			float: left;
			margin-left: 2%;
			width: 27%;
		}

		&--card-number {
			float: left;
			width: 70%;
		}

		&--half {
			float: left;
			width: 50%;
			padding: 0 2% 25px;

			@include breakpoint($phablet) {
				width: 100%;
			}
		}

		&__field-name {
			@include centerfix;
			padding-bottom: 7px;
			text-transform: uppercase;
			width: 100%;
			font-family: $proximanova_regular;
			font-size: 12px;
			line-height: 12px;
			color: #666666;
			letter-spacing: 1px;
		}

		.show-password {
			border: solid 1px $black;
			background-color: $black;
			color: $white;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			text-align: center;
			width: 15%;
			line-height: 41px;
			font-family: $proximanova_regular;
			font-size: 12px;
			letter-spacing: 1px;
		}
	}
}

.label {
	display: inline-block;

	&--primary {
		font-size: 1.01em;
		color: #666666;
		line-height: 20px;
	}
}


.form__input-group-2 {
	@include centerfix;
	margin-bottom: 15px;

	input[type="text"] {
		padding: 7px 4% 2px;
	}
	input:focus + label {
		font-size: 9px;
		transform: translate3d(-10px, -10px, 0);
	}
	label {
		color: #666;
		position: absolute;
		font-size: 14px;
		font-family: $proximanovaA_regular;
		top: 15px;
		left: 15px;
		transition: all 0.2s ease-in-out;
		transform: translate3d(0, 0, 0);
		cursor: pointer;
		letter-spacing: 1px;
	}
}