/*Modals css*/
.modal {
	display: none;

	&.active {
		display: block;
	}

	.btn-close {
		position: absolute;
		right: 3%;
		top: 16px;
		width: 15px;
		height: 15px;
		background: url("../img/icon-close-15.png") no-repeat;
	}

	&.wide-modal-box {
		.content {
			max-width: 700px;
		}
	}

	&.no-size {
		.content {
			max-width: inherit;
			width: inherit;
		}
	}

	&-title {
		padding: 10px 0 15px;
	}

	.content {
		@include center(true, true);
		border: solid 1px #999999;
		background-color: $white;
		position: absolute;
		max-width: 460px;
		width: 100%;
		z-index: 1000;
		padding: 16px 3% 14px;

		@include breakpoint($phablet) {
			top: 20px;
			left: 10px;
			right: 10px;
			width: inherit;
			transform: translate(0,0);
		}
	}

	.modal-overlay {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,.5);
		z-index: 999;
	}
}
