/*Tab css*/
.tab {
	@include centerfix;
	margin-top: 45px;

	&.clear-top {
		margin-top: 0;
	}

	&--type2 {
		.tabs {
			li {
				a {
					font-family: $proximanovaA_medium !important;
					letter-spacing: 1px !important;
					font-size: 10px !important;

					&.active {
						color: #666666 !important;
						padding: 13px 9px !important;
						border-color: #999999 !important;
						font-size: 11px !important;
					}
				}
			}
		}
	}

	.tabs {
		@include centerfix;
		height: 36px;
		border-bottom: 1px solid #cccccc;

		li {
			float: left;

			a {
				display: block;
				border: 1px solid #CCCCCC;
				height: 30px;
				font-family: $proximanovaA_regular;
				font-size: 12px;
				margin-top: 5px;
				background-color: #EFEFEF;
				width: 119px;
				text-align: center;
				padding: 9px;
				color: #666;
				letter-spacing: 0;
				vertical-align: baseline;

				&.active {
					height: 36px;
					box-shadow: 0 1px 0 $white;
					font-size: 12px;
					background-color: $white;
					margin-top: 0;
					border: 1px solid #cccccc;
					border-bottom: none;
					font-family: $proximanova_medium;
					font-weight: 600;
					color: $black;
				}
			}
		}
	}
	.tab-content {
		@include centerfix;
		padding-top: 12px;

		.content {
			@include centerfix;
			display: none;

			&.active {
				display: block;
			}
		}
	}
}