/*
* Validation css
*/

input.error {
    border: 1px solid #ff6600;
}

label.error {
    float: left;
    font-family: ProximaNova-Medium,Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #ff6600;
    letter-spacing: 0;
    padding-top: 3px;
    width: 100%;
}

label.form-error  {
    background-image: url('../img/icon-warning.svg');
    background-repeat: no-repeat;
    background-position: 14px 0;
    float: left;
    font-family: ProximaNova-Medium,Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #ff6600;
    letter-spacing: 0;
    padding: 0 0 25px 7%;
    width: 93%;
}