/*
* Font global variable
*/
$proximanova_medium: 'ProximaNova-Medium';
$proximanova_regular: 'ProximaNova-Regular';
$proximanovaA_light: 'ProximaNovaA-Light';
$proximanovaA_medium: 'ProximaNovaA-Medium';
$proximanovaA_regular: 'ProximaNovaA-Regular';

$font_primary: $proximanovaA_medium;
$font_second: $proximanova_regular;

/*
* Color global variable
*/
$black 						: #000;
$white						: #fff; 

/*
* Layout color variable
*/
$left-wrapper-bg			: #151515;
$left-wrapper-border-color 	: #2e2e2e;

/*Reset.scss'teki a color */
$default_link_color: #759cb1;

/*Reset.scss'teki Input font*/
$input_font: $proximanova_medium;

/*
* 	Font size global variable
*/
$font_size_xxl		: 48px;
$font_size_xl		: 36px;
$font_size_l 		: 24px;
$font_size_m 		: 18px; 
$font_size_s 		: 16px;
$font_size_xs 		: 12px;

/*
* Media query size variable
*/
$small_desktop	: 1024px;
$tablet			: 990px;
$phablet		: 767px;
$mobile			: 480px;

/*
* Animate delay
*/
$animation_speed: .5s;
$animation_easing: ease;